<style>
    body {
        background-image: url("{{ asset('template/images/Concerts.jpg') }}");
        background-size: 1800px 1800px;

    }

    .container {
        background-color: rgba(248, 240, 211, 0.8);
        padding-top: 5%;

    }

    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;

    }

    .form-group {
        font-size: 25px;
        color: #0B5ED4;

    }

    .h66 {
        font-size: 18px;
        color: black;
    }

    .checkbox {
        font-size: 18px;
        color: black;
        padding-left: 15%;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}"/>

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet"
          href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}"/>

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>
        .bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control {
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            color: #9212fd
        }

        .bootstrap-iso form button, .bootstrap-iso form button:hover {
            color: #ffffff !important;
        }

        .bootstrap-iso .btn-custom {
            background: #9212fd
        }

        .bootstrap-iso .btn-custom:hover {
            background: #7e00e9;
        }

        .bootstrap-iso .form-control:focus {
            border-color: #9212fd;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
        }

        .asteriskField {
            color: red;
        }

        .bootstrap-iso form .input-group-addon {
            color: #555555;
            background-color: #eeeeee;
            border-radius: 0px;
            padding-left: 12px
        }</style>


    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png') }}" alt=""
                               class="img-responsive img-rounded"></div>
    <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>
        <li><a href="{{ path('layout') }}" style="color: #e16400">Accueil</a></li>
        <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un hébergeur </a>
        </li>
        <li><a href="{{ path('logement_index') }}" style="color: #e16400">Rechercher un logement </a></li>
        <li><a href="{{ path('fos_user_profile_show') }}" style="color: #e16400">Profil</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                <h text-align: left>Se deconnecter</h>
            </a></li>

    </ul>
</div>
<section>
    <div class="container">
        <!-- *********************************************************** -->
        <h1 style="color: #040949;">Bonjour ! Nous allons vous aider à trouver des bons plans.</h1>
        <!-- ************************ETAPE 1*********************************** -->
        <td>


            <div>
                <div class="  form-group col-xs-12">
                    {{ form_start(edit_form) }}
                    <label>Nom Evenement : </label>

                    <div class="form-group">
                        <div style="color: #000000;">

                            {{ form_widget(edit_form.NomEvent,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.NomEvent) }}
                        </div>
                    </div>
                </div>
                <div class="  form-group col-xs-12">
                    <label>Catégorie : </label>
                    <div class="form-group">
                        <div style="color: #000000;">

                            {{ form_widget(edit_form.CategorieEvent) }}

                        </div>
                    </div>
                </div>
        </td>
        <!-- ****************************ETAPE 2******************************* -->
        <td>
            <div class="form-group col-xs-12">

                <label>Date : </label>
                <table class="table">
                    <tr>
                        <td>
                            <div class="form-group col-md-6">
                                <div style="color: #000000; text-align: center;">
                                    {{ form_label(edit_form.dateDebut,'Date Début :' ) }}

                                    {{ form_widget(edit_form.dateDebut,{'attr':{'class':'form-control'}}) }}
                                    {{ form_errors(edit_form.dateDebut) }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group col-md-6">
                                <div style="color: #000000; text-align: center;">
                                    {{ form_label(edit_form.dateFin,'Date Fin:' ) }}
                                    {{ form_widget(edit_form.dateFin,{'attr':{'class':'form-control'}}) }}
                                    {{ form_errors(edit_form.dateFin) }}
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="sstitre ">
                    <label>Horaire :</label><br>
                    <div class="col-md-2">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        <div class="form-group">
                            <div style="color: #000000; text-align: center;">

                                {{ form_widget(edit_form.Horaire,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(edit_form.Horaire) }}
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>

                <!-- *************************ETAPE 3********************************** -->
                <div class=" form-group col-xs-6">

                    <div>
                        <div class="sstitre">
                            <label>Lieu / Espace</label>
                            <div class="form-group">

                                {{ form_widget(edit_form.ville,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(edit_form.ville) }}
                            </div>
                        </div>
                    </div>

                </div>

                <!-- ****************************ETAPE 4******************************* -->
                <div class="form-group col-md-12 ">


                    <table class="table">
                        <tr>
                            <label>Description : </label>
                        </tr>

                        <tr>
                            <div class="form-group">

                                {{ form_widget(edit_form.description,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(edit_form.description) }}
                            </div>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <label>Nombre de places disponibles :</label>
                            <td>
                                <div class="form-group">

                                    {{ form_widget(edit_form.TicketsDispo,{'attr':{'class':'form-control'}}) }}
                                    {{ form_errors(edit_form.TicketsDispo) }}
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <label>Prix d'un ticket : </label>
                            <td>
                                <div class="form-group">

                                    {{ form_widget(edit_form.prixPass,{'attr':{'class':'form-control'}}) }}
                                    {{ form_errors(edit_form.prixPass) }}
                                </div>
                            </td>
                        </tr>

                    </table>
                    <div class="form-group col-md-6">
                        <table class="table">
                            <tr>
                                <div class="sstitre"><label>Liste des contacts</label></div>
                            </tr>
                            <tr>

                                <div class="form-group">
                                    <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i></span>
                                        <div class="form-group">

                                            {{ form_widget(edit_form.Email,{'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(edit_form.Email) }}
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="form-group">

                                            {{ form_widget(edit_form.NumTel,{'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(edit_form.NumTel) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-facebook-square "></i>
                                        </div>
                                        <div class="form-group">

                                            {{ form_widget(edit_form.lienFb,{'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(edit_form.lienFb) }}
                                        </div>

                                    </div>
                                </div>

                            </tr>
                        </table>
                    </div>
                </div>
                <!-- Les bouttons -->
                <div class="form-group col-md-7">
                    <ul>
                        <li>
                            <input type="submit" value="Edit"/>
                        </li>

                        {{ form_end(edit_form) }}
                        <li>
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        </li>
                        <li>
                            <a href="{{ path('evenement_index') }}">Back to the list</a>
                        </li>
                    </ul>
                </div>
                <!-- ****************************Fin Formulaire******************************* -->

            </div>

        </td>
    </div>


</section>


</body>








