{% block stylesheet %}

    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}"/>
    <link rel="stylesheet" href="{{ asset('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('template/css/eventlist.css') }}"/>

    <style>

        body {
            background-image: url("{{ asset('template/images/Accounting-Event-background.jpg') }}");
            background-size: 1800px 1800px;
        }

        .title {
            text-align: center;
            color: black;
        }
    </style>
{% endblock %}
{% block body %}



    <ul class="nav nav-tabs">

        <li class="{% if   criteria == null %}active{% endif %}">
            <a href="{{ path('evenement_index') }}"> Prochainement </a>
        </li>
        <li class="{% if  criteria == 'public' %}active{% endif %}">
            <a href="{{ path('event_filter',{criteria:'disponibilté'}) }}"> Disponibles </a>
        </li>
        <li class="{% if   criteria == 'mine' %}active{% endif %}">
            <a href="{{ path('event_filter',{criteria:'mes_évènements'}) }}"> mes_évènements </a>
        </li>


        <li class="{% if  criteria == 'tri' %}active{% endif %}">
            <a href="{{ path('event_filter',{criteria:'Date'}) }}"> Trié Par Date </a>
        </li>

        <li>
            <a href="{{ path('evenement_new') }}">Create New Event</a>
        </li>

    </ul>


    <div class="title"><h1>Evenements list</h1></div>
    {% for f in app.session.flashbag.get('notice') %}

        <div class="alert alert-success">
            {{ f }}
        </div>

    {% endfor %}


    {% for x in evenements %}
        <div class="container">

            <div class="col-sm-12">

                <div class="bs-calltoaction bs-calltoaction-warning">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title" style="color: #AA3333">{{ x.nomEvent }}</h1>
                            <div class="cta-desc">
                                <p>{{ x.categorieEvent }}</p>
                                <p>{{ x.horaire|date('H:i:s') }}</p>
                                <p>{{ x.dateDebut|date('y-m-d') }}</p>
                                <p>{{ x.Organisateur.username }}</p>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="{{ path('evenement_show',{'id':x.idEv}) }}">show détails</a><br><br><br>
                            {% if app.user and app.user.id == x.Organisateur.id %}
                                <button class="btn btn-lg btn-default "><a
                                            href="{{ path('evenement_edit',{'id':x.idEv}) }}">Modifier</a></button>
                                <button class="btn btn-lg btn-default "><a
                                            href="{{ path('evenement_delete',{'id':x.idEv}) }}">supprimer</a></button>
                            {% endif %}
                            {% if app.user and app.user.id != x.Organisateur.id %}
                                {#{% if app.user and app.user.id == participation.participant.id %}
                                    <button type="button" class="btn btn-lg btn-default">Participated</button>
                                    {% else %}#}
                                <button type="button" class="btn btn-lg btn-default"><a
                                            href="{{ path('evenement_participate', { 'id': x.idEv }) }}">Participate</a>
                                </button>
                                {# {% endif %}#}
                                <button type="button" class="btn btn-lg btn-default"><a
                                            href="{{ path('evenement_index', { 'id': x.idEv }) }}">Cancel</a></button>

                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>


        </div>
    {% endfor %}

    <div class="container" style="background-color: white">

        <div class="col-sm-12">
            <br><br>
            {% include 'ADesignsCalendarBundle::calendar.html.twig' %} <br><br>
        </div>
    </div>

    <div class="navigation text-center">
        {{ knp_pagination_render(evenements) }}
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}