<link rel="stylesheet" href="{{ asset('template/css/filtre.css') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}"/>

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet"
          href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}"/>

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control {
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            color: #9212fd
        }

        .bootstrap-iso form button, .bootstrap-iso form button:hover {
            color: #ffffff !important;
        }

        .bootstrap-iso .btn-custom {
            background: #9212fd
        }

        .bootstrap-iso .btn-custom:hover {
            background: #7e00e9;
        }

        .bootstrap-iso .form-control:focus {
            border-color: #9212fd;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
        }

        .asteriskField {
            color: red;
        }

        .bootstrap-iso form .input-group-addon {
            color: #555555;
            background-color: #eeeeee;
            border-radius: 0px;
            padding-left: 12px
        }</style>


    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>

    <![endif]-->
</head>
<div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png') }}" alt=""
                                   class="img-responsive img-rounded"></div>
        <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>
            <li><a href="{{ path('layout') }}" style="color: #e16400">Accueil</a></li>
            <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un
                    hébergeur </a></li>
            <li><a href="{{ path('evenement_index') }}" style="color: #e16400">Rechercher un évènement </a></li>
            <li><a href="{{ path('fos_user_profile_show') }}" style="color: #e16400">{{ app.user.username }}</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                    <h text-align: left>Se deconnecter</h>
                </a></li>

        </ul>
    </div>


    <div class="container">
        <div class="titres col-md-12">
            <div><h1>Vous etes le bienvenu dans un(e) {{ evenement.categorieEvent }}</h1></div>

            <br><br><br>
            <div class="parag">
                <div> Cet évènement est intitulé {{ evenement.nomEvent }} organisé par {{ evenement.organisateur }}.
                </div>
                l'évènement aura lieu le {{ evenement.dateDebut|date('m/d/y') }}
                jusqu'à {{ evenement.dateFin|date('m/d/y') }}.<br>
                Notre rendez-vous sera à {{ evenement.horaire|date('m/d/y') }},Donc prière d'etre à l'heure , beaucoup
                d'ambiance vous attend
            </div>
            <br><br><br>

            <div><label>Emplacement</label></div>
            <br>
        </div>
        <div class="parag">{{ evenement.ville }}</div>
        <br><br><br>

        <div class="col-md-12">
            <div class="row-fluid">
                <div class="span8">
                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=10+Rue+de+Rom
                        e&sll=48.874650,2.325336&ie=UTF8&hq=&hnear=10+RUE+DE+ROME,+75008,+FRANCE&t=m&z=17&ll=48.87
                        5350,2.325336&output=embed"></iframe>
                </div>
            </div>
            <br><br><br>
        </div>
        <div><label class="titres">DESCRIPTION:</label>
            <p>***********************************************************************<br>
                {{ evenement.description }}<br>
                **************************************************************************
            </p>
        </div>
        <br><br><br>
        <div class="titres"><label>A props:</label></div>
        <div class="parag">
            Voyus pouvez avoir plus d'informations sur cet évènement:<br><br><br>
            - Nombre de Tickets dispoibles :{{ evenement.ticketsDispo }}.<br><br>
            -Prix du Pass : {{ evenement.prixPass }}.

        </div>
        <br>
        <div class="parag">

            <div class="titres"><h1>Pour plus d'information, vous pouvez nous Contacter à l'aide de ces contacts:</h1>
            </div>
            <br><br><br>
            <div class="parag"><i class="fa fa-phone"> Par téléphone sur le numéro : {{ evenement.numTel }}</i></div>
            <div class="parag"><i class="fa fa-facebook-square "></i> Sur Notre page Facebook : {{ evenement.lienFb }}
            </div>
            <div class="parag"><i class="fa fa-external-link"></i>Par messagerie électronique : {{ evenement.email }}
            </div>
        </div>
        <br><br>
        <div><a href="{{ path('evenement_participate', { 'id': evenement.idEv }) }}" class="btn btn-info btn-primary"
                role="button">Participer Maintenant</a></div>
    </div>

</div>









