<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png')}}" alt="" class="img-responsive img-rounded"></div>
    <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>
        <li><a href="{{ path('layout')}}" style="color: #e16400">Accueil</a></li>
        <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un hébergeur </a></li>
        <li><a href="{{ path('fos_user_profile_show')}}" style="color: #e16400"><h text-align: left>{{ app.user.username }} </h></a></li>
        <li><a href="{{ path('fos_user_security_logout')}}" style="color: #e16400"><h text-align: left>Se deconnecter </h></a></li>
    </ul>
</div>
<div class="col-xs-12">
    <div class="col-xs-3">
        <img style="max-width: 50%" src="{{ asset('template/images/37.jpg') }}" alt=""
             class="img-responsive img-rounded">
    </div>
    <div class="col-xs-9">
        <div class="fos_user_user_show">
            {% trans_default_domain 'FOSUserBundle' %}
            <div class="fos_user_user_show">
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="col-xs-3">
        <img style="max-width: 50%" src="{{ asset('template/images/37.jpg') }}" alt=""
             class="img-responsive img-rounded">
    </div>
    <div class="col-xs-9">

    </div>
</div>
</body>
</html>

<

