<!DOCTYPE html>
<html lang="en" class="ie_11_scroll">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOST&GUEST</title>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/templatemo_style.css') }}"/>
    <link rel="shortcut icon" href="{{ asset ('template/images/favicon.png') }}" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Top menu -->
<div class="show-menu">
    <a href="#" class="shadow-top-down">+</a>
</div>
<nav class="main-menu shadow-top-down">
    <ul class="nav nav-pills nav-stacked">
        <li><a class="scroll_effect" href="{{ path('logement_index1')}}">Rechercher</a></li>
    </ul>
</nav>

<!-- Home -->
<section id="templatemo_home">
    <div class="container">
        <div class="templatemo_home_inner_wapper">
            <h1 class="text-center" style="color: rgb(74, 17, 16)"> HOST & GEUST</h1>
        </div>
        <div class="templatemo_home_inner_wapper">
            <p class="text-center">
                Voyager différemment !!
            </p>
        </div>
        <div class="templatemo_home_inner_wapper btn_wapper">
            <div class="col-sm-6" >
                <a href="{{ path('fos_user_security_login')}}" class="btn col-xs-12 scroll_effect shadow-top-down">
                    <i class="fa fa-align-justify"></i> Se connecter</a>
            </div>
            <div class="col-sm-6">
                <a href="{{ path('fos_user_registration_register')}}" class="btn col-xs-12 scroll_effect shadow-top-down">
                    <i class="fa fa-align-justify"></i> S'inscrire</a>
            </div>
        </div>
    </div>
</section>
<!-- Features -->
<section id="templatemo_features">
    <div class="container-fluid">
        <header class="template_header">
            <h1 class="text-center"><span>...</span> les membres de la semaine <span>...</span></h1>
        </header>
        <div class="col-sm-12">
            <div class="col-sm-6 col-lg-3 feature-box">
                <div class="feature-box-inner">
                    <div class="feature-box-icon">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <p>
                        <i class="fa fa-user"></i>       nom prenom <br>
                        <i class="fa fa-diamond"></i>    nombre de points <br>
                        <i class="fa fa-map-marker"></i> pays<br>

                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 feature-box">
                <div class="feature-box-inner">
                    <div class="feature-box-icon">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <p>
                        <i class="fa fa-user"></i>       nom prenom <br>
                        <i class="fa fa-diamond"></i>    nombre de points <br>
                        <i class="fa fa-map-marker"></i> pays<br>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 feature-box">
                <div class="feature-box-inner">
                    <div class="feature-box-icon">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <p>
                        <i class="fa fa-user"></i>       nom prenom <br>
                        <i class="fa fa-diamond"></i>    nombre de points <br>
                        <i class="fa fa-map-marker"></i> pays<br>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 feature-box">
                <div class="feature-box-inner">
                    <div class="feature-box-icon">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <p>
                        <i class="fa fa-user"></i>       nom prenom <br>
                        <i class="fa fa-diamond"></i>    nombre de points <br>
                        <i class="fa fa-map-marker"></i> pays<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Download -->
<section id="templatemo_download">
    <div class="container">
        <header class="template_header">
            <h1 class="text-center"><span>...</span> Téléchager HOST&GUEST <span>...</span></h1>
        </header>
        <div class="templatemo_download_text_wapper">
            <p>
                Elle est finalement là!!! Nous sommes heureux de vous annoncer que notre application est désorimais disponible pour utilisateurs de Smartphones Android.            </p>
        </div>
        <div class="col-xs-12">
            <a href="#" class="shadow-top-down"><img src="{{ asset('template/images/download_btn.png') }}"/></a>
        </div>
    </div>
</section>
<!-- Contact -->
<section id="templatemo_contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <header class="template_header">
                    <h1 class="text-center"><span>...</span> Contact <span>...</span></h1>
                </header>
                <p class="text-center">
                    <i class="fa fa-map-marker"></i> Avenue Habib-Bourguiba<br />
                    <i class="fa fa-envelope"></i> Email: <a href="www.gmail.tn">tech-makers@gmail.tn</a><br />
                    <i class="fa fa-phone"></i> Numero Téléphone: <a href=#>71 000 000</a>
                </p>
            </div>
        </div>
        <form role="form" action="#" method="post">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" name="name" class="form-control" id="contact-name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-at"></i></div>
                    <input type="text" name="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                    <textarea name="message" class="form-control" id="contact-message" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-xs-offset-6">
                    <button type="submit" class="form-control">Envoyer</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="nav nav-pills social">
                    <li><a href="www.facebook.com" class="shadow-top-down social-facebook"><i class="fa fa-facebook-official"></i></a></li>
                    <li><a href="www.youtube.com" class="shadow-top-down social-twitter"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="www.twitter.com" class="shadow-top-down social-youtube"><i class="fa fa-youtube-square"></i></a></li>
                    <li><a href="www.instagram.com" class="shadow-top-down social-instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 footer-copyright">
                <p>Copyright &copy; 2084 <a href="#" target="_parent">Tech-Makers</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- require plugins -->
<script src="{{ asset('template/js/jquery.min.js')}}"></script>
<script src="{{ asset('template/js/jquery-ui.min.js')}}"></script>
<script src="{{ asset('template/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('template/js/jquery.parallax.js')}}"></script>
<!-- template mo config script -->
<script src="{{ asset('template/js/templatemo_scripts.js')}}"></script>

</body>
</html>