<style>
    body {
        background-image: url("{{ asset('template/images/restoback.JPEG') }}");
        background-size: 1800px 1800px;

    }

    .container {
        background-color: rgba(248, 240, 211, 0.8);
        padding-top: 5%;

    }

    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;

    }

    .form-group {
        font-size: 20px;
        color: black;

    }

    .h66 {
        font-size: 25px;
        color: blue;
    }

    .checkbox {
        font-size: 18px;
        color: black;
        padding-left: 15%;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}"/>

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet"
          href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}"/>

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>
        .bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control {
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            color: #9212fd
        }

        .bootstrap-iso form button, .bootstrap-iso form button:hover {
            color: #ffffff !important;
        }

        .bootstrap-iso .btn-custom {
            background: #9212fd
        }

        .bootstrap-iso .btn-custom:hover {
            background: #7e00e9;
        }

        .bootstrap-iso .form-control:focus {
            border-color: #9212fd;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
        }

        .asteriskField {
            color: red;
        }

        .bootstrap-iso form .input-group-addon {
            color: #555555;
            background-color: #eeeeee;
            border-radius: 0px;
            padding-left: 12px
        }</style>


    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png') }}" alt=""
                               class="img-responsive img-rounded"></div>
    <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>
        <li><a href="{{ path('layout') }}" style="color: #e16400">Accueil</a></li>
        <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un hébergeur </a>
        </li>
        <li><a href="{{ path('logement_index') }}" style="color: #e16400">Rechercher un logement </a></li>
        <li><a href="{{ path('fos_user_profile_show') }}" style="color: #e16400">Profil</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                <h text-align: left>Se deconnecter</h>
            </a></li>
        <li><br>
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Espace Aprox
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">

                    <li><a href="{{ path ('espace_index') }}">Annonces</a></li>

                </ul>
            </div>
        </li>
    </ul>
</div>
<section>
    <div class="container">
        <!-- *********************************************************** -->
        <h1 style="color: #040949;">Bonjour ! Nous allons vous aider à trouver des bons plans.</h1>
        <!-- ************************ETAPE 1*********************************** -->
        <td>


            <div>
                <div class="  form-group col-xs-12">
                    {{ form_start(edit_form) }}

                    <label class="h66">Nom Restaurnt : </label>

                    <div class="form-group">
                        <div style="color: #000000;">
                            <tr>
                                {{ form_widget(edit_form.NomResto,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(edit_form.NomResto) }}
                            </tr>
                        </div>
                    </div>

                </div>
                <div class="  form-group col-xs-12">
                    <label>Spécialité Culinaire : </label>

                    <div class="form-group">
                        <div style="color: #000000;">

                            {{ form_widget(edit_form.SpecResto) }}
                            {{ form_errors(edit_form.SpecResto) }}

                        </div>
                    </div>

                </div>
            </div>
        </td>
        <!-- ****************************ETAPE 2******************************* -->
        <td>
            <div class="  form-group col-xs-12">
                <label>Services : </label>
                <div class="form-group">
                    <div style="color: #000000;">

                        {{ form_widget(edit_form.ServResto) }}
                        {{ form_errors(edit_form.ServResto) }}
                    </div>
                </div>
            </div>
            <div class="sstitre ">
                <label>Horaire :</label><br>
                <div class="col-md-2">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    <div class="form-group">
                        <div style="color: #000000; text-align: center;">

                            {{ form_widget(edit_form.timeOuv,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.timeOuv) }}
                            {{ form_widget(edit_form.timeFer,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.timeFer) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12">

                <label>Date : </label>

                <br><br><br>

                <!-- *************************ETAPE 3********************************** -->
                <div class=" form-group col-xs-6">

                    <div>
                        <div class="sstitre">
                            <label>Lieu / Espace</label>
                            <div class="form-group">

                                {{ form_widget(edit_form.addresse,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(edit_form.addresse) }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class=" form-group col-xs-12">
                    <div style="color: #000000;">

                        {{ form_widget(edit_form.imageFile) }}

                        {{ form_widget(edit_form.imageFile1) }}


                        {{ form_widget(edit_form.imageFile2) }}


                        {{ form_widget(edit_form.imageFile3) }}


                    </div>
                </div>

                <!-- ****************************ETAPE 4******************************* -->


                <div class="  form-group col-xs-12">
                    <label>Spécial Host & Guest : </label>
                    <div class="form-group">
                        <div style="color: #000000;">

                            {{ form_widget(edit_form.Offre) }}
                            {{ form_errors(edit_form.Offre) }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group col-md-12 ">


                <table class="table">
                    <tr>
                        <label>Description : </label>
                    </tr>

                    <tr>
                        <div class="form-group">

                            {{ form_widget(edit_form.descResto,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.descResto) }}
                        </div>
                    </tr>
                </table>


                <div class="form-group col-md-6">
                    <table class="table">
                        <tr>
                            <div class="sstitre"><label>Liste des contacts</label></div>
                        </tr>
                        <tr>

                            <div class="form-group">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i></span>
                                    <div class="form-group">

                                        {{ form_widget(edit_form.email,{'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(edit_form.email) }}
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="form-group">

                                        {{ form_widget(edit_form.numTel,{'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(edit_form.numTel) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-facebook-square "></i>
                                    </div>
                                    <div class="form-group">

                                        {{ form_widget(edit_form.facebook,{'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(edit_form.facebook) }}
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-external-link "></i>
                                    </div>
                                    <div class="form-group">

                                        {{ form_widget(edit_form.siteWeb,{'attr':{'class':'form-control'}}) }}
                                        {{ form_errors(edit_form.siteWeb) }}
                                    </div>

                                </div>
                            </div>

                        </tr>
                    </table>
                </div>


            </div>
            <!-- ****************************ETAPE 5******************************* -->
            <div class="form-group col-md-7">

                <input type="submit" value="Edit"/>
            </div>
            <!-- *********************************************************** -->

    </div>

    </td>
    </div>


</section>
{{ form_end(edit_form) }}

<ul>
    <li>
        <a href="{{ path('espace_index') }}">Back to the list</a>
    </li>
</ul>


</body>


{% block body %}
    <h1>Espaceaprox edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('espace_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
