<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}"/>

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet"
          href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}"/>

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control {
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            color: #9212fd
        }

        .bootstrap-iso form button, .bootstrap-iso form button:hover {
            color: #ffffff !important;
        }

        .bootstrap-iso .btn-custom {
            background: #9212fd
        }

        .bootstrap-iso .btn-custom:hover {
            background: #7e00e9;
        }

        .bootstrap-iso .form-control:focus {
            border-color: #9212fd;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
        }

        .asteriskField {
            color: red;
        }

        .bootstrap-iso form .input-group-addon {
            color: #555555;
            background-color: #eeeeee;
            border-radius: 0px;
            padding-left: 12px
        }</style>


    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<style>
    body {
        background: white;
    }

    .recherche {
        margin-top: 100px;
        margin-left: 30%;
    }

    .mt40 {
        margin-top: 40px;
    }

    .panel {
        position: relative;
        overflow: hidden;
        display: block;
        border-radius: 0 !important;
        background: orange
    }

    .panel-default {
        border-color: orange !important;
    }

    .panel .panel-body {
        position: relative;
        padding: 0 !important;
        overflow: hidden;
        height: 20%;
        width: 100%;
    }

    .panel .panel-body a {
        overflow: hidden;
    }

    .panel .panel-body a img {
        display: block;
        margin: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
    }

    .panel .panel-body a.zoom:hover img {
        transform: scale(1.3);
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -o-transform: scale(1.3);
        -moz-transform: scale(1.3);
    }

    .panel .panel-body a.zoom span.overlay {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        height: 100%;
        width: 100%;
        background-color: orange;
        opacity: 15;
        transition: opacity .25s ease-out;
        -moz-transition: opacity .25s ease-out;
        -webkit-transition: opacity .25s ease-out;
        -o-transition: opacity .25s ease-out;
    }

    .panel .panel-footer {
        padding: 10px !important;
        background-color: black !important;
        border-bottom-style: groove;
        border-top-color: orange;
        border-bottom-right-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
    }

    .panel .panel-footer h4 {
        display: inline;
        font: 400 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
        color: red;
        margin: 0 !important;
        padding: 0 !important;
    }

    .panel .panel-footer div {
        width: 15px;
        display: inline;
        font: 300 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
        color: #34495e;
        text-align: center;
        background-color: transparent !important;
        border: none !important;
    }

</style>

<script src="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png') }}" alt=""
                               class="img-responsive img-rounded"></div>
    <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>
        <li><a href="{{ path('layout') }}" style="color: #e16400">Accueil</a></li>
        <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un hébergeur </a>
        </li>
        <li><a href="{{ path('logement_index') }}" style="color: #e16400">Rechercher un logement </a></li>
        <li><a href="{{ path('fos_user_profile_show') }}" style="color: #e16400">Profil</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                <h text-align: left>Se deconnecter</h>
            </a></li>
        <li><br>
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Espace Aprox
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">

                    <li><a href="{{ path ('espace_index') }}">Annonces</a></li>

                </ul>
            </div>
        </li>
    </ul>
</div>
<div class=" recherche col-md-4">
    <h1>Chercher un restaurant</h1>
    <form action="{{ path('rechercheevent') }}" method="post">
        <input type="text" name="rechespace" class="rechercher form-control " placeholder="Rechercher..."
               required><input
                type="submit" value="CHERCHER"></form>
</div>
    <h1>Espaceaproxes list</h1>

<table class="col-md-12">


    <h1 class="col-md-12">sponsored</h1>
    <table class="col-md-12">

        {% for espaceAprox in espaceAproxes %}
            {% if espaceAprox.sponsored == 'parrainer' %}

            <tr>

                <article class=" col-sm-4 col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-body ">
                            <a href="{{ path('espace_show', { 'id': espaceAprox.idResto }) }}" class="zoom">
                                <img src="{{ asset(vich_uploader_asset(espaceAprox,'imageFile')) }}">
                            </a>
                        </div>
                        <div class="panel-footer">
                            <h4> {{ espaceAprox.nomResto }}</h4>
                        </div>
                    </div>
                </article>
            </tr>

            {% endif %}
        {% endfor %}
    </table>
    <h1 class="col-md-12">all</h1>
    <table class="col-md-12">
        {% for espaceAprox in espaceAproxes %}
            <tr>

                <article class=" col-sm-4 col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-body ">
                            <a href="{{ path('espace_show', { 'id': espaceAprox.idResto }) }}" class="zoom">
                                <img src="{{ asset(vich_uploader_asset(espaceAprox,'imageFile')) }}">
                            </a>
                        </div>
                        <div class="panel-footer">
                            <h4> {{ espaceAprox.nomResto }}</h4>
                        </div>
                    </div>
                </article>
            </tr>
    </table>
        {% endfor %}
        </tbody>
    </table>

</table>
    <ul>
        <li>
            <a href="{{ path('espace_new') }}">Create a new espaceAprox</a>
        </li>
    </ul>


</body>
