<style>
    body {
        background-image: url("{{ asset('template/images/restoback.JPEG') }}");
        background-size: 1800px 1800px;

    }

    .container {
        background-color: rgba(248, 240, 211, 0.8);
        padding-top: 5%;

    }

    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;

    }

    .form-group {
        font-size: 20px;
        color: black;

    }

    .h66 {
        font-size: 25px;
        color: #0B5ED4;
    }

    .checkbox {
        font-size: 18px;
        color: black;
        padding-left: 15%;
    }

</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}"/>

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet"
          href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}"/>

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>
        .bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control {
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            color: #9212fd
        }

        .bootstrap-iso form button, .bootstrap-iso form button:hover {
            color: #ffffff !important;
        }

        .bootstrap-iso .btn-custom {
            background: #9212fd
        }

        .bootstrap-iso .btn-custom:hover {
            background: #7e00e9;
        }

        .bootstrap-iso .form-control:focus {
            border-color: #9212fd;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
        }

        .asteriskField {
            color: red;
        }

        .bootstrap-iso form .input-group-addon {
            color: #555555;
            background-color: #eeeeee;
            border-radius: 0px;
            padding-left: 12px
        }</style>


    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png') }}" alt=""
                               class="img-responsive img-rounded"></div>
    <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>
        <li><a href="{{ path('layout') }}" style="color: #e16400">Accueil</a></li>
        <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un hébergeur </a>
        </li>
        <li><a href="{{ path('logement_index') }}" style="color: #e16400">Rechercher un logement </a></li>
        <li><a href="{{ path('fos_user_profile_show') }}" style="color: #e16400">Profil</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                <h text-align: left>Se deconnecter</h>
            </a></li>
        <li><br>
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Espace Aprox
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">

                    <li><a href="{{ path ('espace_index') }}">Annonces</a></li>

                </ul>
            </div>
        </li>

    </ul>
</div>
<section>
    <div class="container">
        <!-- *********************************************************** -->
        <h1 style="color: #040949;">Bonjour ! Nous allons vous aider à ajouter Votre restaurant</h1>
        <!-- ************************ETAPE 1*********************************** -->
        <td>


            <div>
                <div class="  form-group col-xs-12">
                    {{ form_start(form) }}

                    <label class="h66">Nom Restaurnt : </label>

                    <div class="form-group">
                        <div style="color: #000000;">
                            <tr>
                                {{ form_widget(form.NomResto,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.NomResto) }}
                            </tr>
                        </div>
                    </div>

                </div>
                <div class="  form-group col-xs-12">
                    <label class="h66">Spécialité Culinaire : </label>

                    <div class="form-group">
                        <div style="color: #000000;">


                            {% for child in form.SpecResto %}

                                <div class="col-md-3">
                                    {{ form_widget(child) }}
                                    {{ form_label(child) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </td>
        <!-- ****************************ETAPE 2******************************* -->
        <td>
            <div class="  form-group col-xs-12">
                <label>Services : </label>
                <div class="form-group">
                    <div style="color: #000000;">


                        {{ form_widget(form.ServResto) }}
                        {{ form_errors(form.ServResto) }}


                    </div>
                </div>
            </div>
            <div class="sstitre ">
                <label class="h66">Horaire :</label><br>
                <div class="col-md-6">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    <div class="form-group">
                        <div style="color: #000000; text-align: center;">
                            <table>
                                <tr>
                                    <td><label>Ouverture</label></td>
                                    <td>{{ form_widget(form.timeOuv,{'attr':{'class':'form-control'}}) }}</td>
                                    {{ form_errors(form.timeOuv) }}
                                </tr>
                                <tr>
                                    <td><label>Fermeture</label></td>
                                    <td>{{ form_widget(form.timeFer,{'attr':{'class':'form-control'}}) }}</td>
                                    {{ form_errors(form.timeFer) }}
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!-- *************************ETAPE 3********************************** -->
            <div class="form-group col-xs-12">
                <div class=" form-group col-xs-6">

                    <div>
                        <div class="sstitre">
                            <label class="h66">Addresse</label>
                            <div class="form-group">

                                {{ form_widget(form.addresse,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.addresse) }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class=" form-group col-xs-6 .im">
                        <div style="color: #000000;">
                            <style>
                                .fileContainer {
                                    overflow: hidden;
                                    position: relative;
                                }

                                .fileContainer [type=file] {
                                    cursor: inherit;
                                    display: block;
                                    font-size: 999px;
                                    filter: alpha(opacity=0);
                                    min-height: 100%;
                                    min-width: 100%;
                                    opacity: 0;
                                    position: absolute;
                                    right: 0;
                                    text-align: right;
                                    top: 0;
                                }
                            </style>
                            <table>
                                <label class="fileContainer">
                                    <td>
                                        {{ form_widget(form.imageFile) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.imageFile1) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.imageFile2) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.imageFile3) }}
                                    </td>
                                </label>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ****************************ETAPE 4******************************* -->


                <div class="  form-group col-xs-12">
                    <label class="h66">Spécial Host & Guest : </label>
                    <div class="form-group">
                        <div style="color: #000000;">
                            {% for child in form.Offre %}

                                <div class="col-md-12   ">
                                    {{ form_widget(child) }}
                                    {{ form_label(child) }}
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>


                <div class="form-group col-md-12 ">


                    <table class="table">
                        <tr>
                            <label class="h66">Description : </label>
                        </tr>

                        <tr>
                            <div class="form-group">

                                {{ form_widget(form.descResto,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(form.descResto) }}
                            </div>
                        </tr>
                    </table>


                    <div class="form-group col-md-6">
                        <table class="table">
                            <tr>
                                <div class="sstitre"><label class="h66">Liste des contacts</label></div>
                            </tr>
                            <tr>

                                <div class="form-group">
                                    <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i></span>
                                        <div class="form-group">

                                            {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="form-group">

                                            {{ form_widget(form.numTel,{'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(form.numTel) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-facebook-square "></i>
                                        </div>
                                        <div class="form-group">

                                            {{ form_widget(form.facebook,{'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(form.facebook) }}
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-external-link "></i>
                                        </div>
                                        <div class="form-group">

                                            {{ form_widget(form.siteWeb,{'attr':{'class':'form-control'}}) }}
                                            {{ form_errors(form.siteWeb) }}
                                        </div>

                                    </div>
                                </div>

                            </tr>
                        </table>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">

                                {{ form_widget(form.sponsored,{'attr':{'class':'form-control'}}) }}
                            </div>
                            <div class="form-group">

                            </div>

                        </div>
                    </div>

                </div>
                <!-- ****************************ETAPE 5******************************* -->
                <div class="form-group col-md-7">

                    <input type="submit" value="Create"/>
                </div>
                <!-- *********************************************************** -->

            </div>

        </td>
    </div>

</section>


<ul>
    <li>
        <a href="{{ path('espace_index') }}">Back to the list</a>
    </li>
</ul>


</body>


{{ form_end(form) }}


