<style>
    body {
        background-image: url("{{ asset('template/images/restoback.JPEG') }}");
        background-size: 1800px 1800px;
    }

    .container {
        background-color: rgba(248, 240, 211, 0.8);
        padding-top: 5%;

    }

    label {
        font-size: 22px;
        color: #0B5ED4;
    }

    .hide-bullets {
        list-style: none;
        margin-left: -40px;
        margin-top: 20px;
    }

    .thumbnail {
        padding: 0;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: 100%;
    }

    .col-sm-3 a {
        border: 1px solid transparent;
        border-radius: 0;
        transition: all 3s ease;
    }

    .col-sm-3 a:hover {
        border: 1px solid #ff4647;
        border-radius: 100% 60% / 30% 10%;
        background: linear-gradient(rgba(56, 123, 131, 0.7), rgba(56, 123, 131, 0.7));
    }

    .carousel {

        overflow: hidden;
    }

    .carousel .item {
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }

    .carousel .active.left, .carousel .active.right {
        left: 0;
        opacity: 0;
        z-index: 2;
    }

    .carousel .next, .carousel .prev {
        left: 0;
        opacity: 1;
        z-index: 1;
    }

    .item:nth-child(1) {
        background: darkred;
    }

    .item:nth-child(2) {
        background: red;
    }

    .item:nth-child(3) {
        background: orange;
    }

    .champs {
        font-size: 18px;
        padding-left: 25%;
        padding-bottom: 50px;
        color: black;

    }

    .champs1 {
        font-size: 17px;
        color: black;
        padding-bottom: 5%;
    }

    .image {
        width: 500px;
        height: 500px;
    }

</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}"/>

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet"
          href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}"/>

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control {
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            color: #9212fd
        }

        .bootstrap-iso form button, .bootstrap-iso form button:hover {
            color: #ffffff !important;
        }

        .bootstrap-iso .btn-custom {
            background: #9212fd
        }

        .bootstrap-iso .btn-custom:hover {
            background: #7e00e9;
        }

        .bootstrap-iso .form-control:focus {
            border-color: #9212fd;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
        }

        .asteriskField {
            color: red;
        }

        .bootstrap-iso form .input-group-addon {
            color: #555555;
            background-color: #eeeeee;
            border-radius: 0px;
            padding-left: 12px
        }</style>


    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>

    <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png') }}" alt=""
                               class="img-responsive img-rounded"></div>
    <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>
        <li><a href="{{ path('layout') }}" style="color: #e16400">Accueil</a></li>
        <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un hébergeur </a>
        </li>
        <li><a href="{{ path('logement_index') }}" style="color: #e16400">Rechercher un logement </a></li>


        <li><a href="{{ path('fos_user_profile_show') }}" style="color: #e16400">
                <h text-align: left>{{ app.user.username }} </h>
            </a></li>
        <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                <h text-align: left>Se deconnecter</h>
            </a></li>
        <li><br>
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Espace Aprox
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">

                    <li><a href="{{ path('espace_index') }}">Annonces</a></li>

                </ul>
            </div>
        </li>
    </ul>
</div>


<div class="container">
    <!--partie 1 -->
    <div class=" col-md-6">
        <div><label>Bienvenu Chez <label class="label1">{{ espaceAprox.NomResto }} </label></label></div>
        <div>
            <label>Specialité Culinaire {{ espaceAprox.propriet.id }} </label>
            <div class="champs">{% if espaceAprox.SpecResto %}{{ espaceAprox.SpecResto|join(', ') }}{% endif %}</div>
        </div>
        <div>
            <label>Services</label>
            <div class="champs"> {% if espaceAprox.ServResto %}{{ espaceAprox.ServResto|join(', ') }}{% endif %}</div>
        </div>
        <div>
            <label>Horaire </label>
            <div class="champs">DE {% if espaceAprox.timeOuv %}{{ espaceAprox.timeOuv|date('H:i') }}{% endif %}
                A {% if espaceAprox.timeFer %}{{ espaceAprox.timeFer|date('H:i') }}{% endif %}</div>
        </div>
        <div>
            <label>EMPLACEMENT </label>
            <div class="champs">{{ espaceAprox.addresse }}</div>
        </div>
    </div>
    <!--partie 2 -->
    <div class="image row col-md-6">
        <div id="myCarousel" class="carousel  slide">
            <!-- Dot Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Items -->
            <div class="carousel-inner">
                <div class="active item"><img src="{{ asset(vich_uploader_asset(espaceAprox,'imageFile')) }}"
                                              class="img-responsive"></div>
                <div class="item"><img src="{{ asset(vich_uploader_asset(espaceAprox,'imageFile1')) }}"
                                       class="img-responsive"></div>
                <div class="item"><img src="{{ asset(vich_uploader_asset(espaceAprox,'imageFile2')) }}"
                                       class="img-responsive"></div>
                <div class="item"><img src="{{ asset(vich_uploader_asset(espaceAprox,'imageFile3')) }}"
                                       class="img-responsive"></div>

            </div>
            <!-- Navigation -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </div>
    <!--partie 3 -->
    <div class="col-md-12">
        <div>
            <label>DESCRIPTION </label>
            <div class="champs">{{ espaceAprox.descResto }}</div>
        </div>
        <div>
            <label>SPEC H&G </label>
            <div class="champs">{% if espaceAprox.Offre %}{{ espaceAprox.Offre|join(', ') }}{% endif %}</div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="row-fluid">
            <div class="span8">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=10+Rue+de+Rome&sll=48.874650,2.325336&ie=UTF8&hq=&hnear=10+RUE+DE+ROME,+75008,+FRANCE&t=m&z=17&ll=48.875350,2.325336&output=embed"></iframe>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div><a href="{{ path('reservresto_new',{'id':espaceAprox.idResto}) }}" class="btn btn-info btn-primary"
                role="button">Reserver Maintenant</a></div>
        <div class="titres"><h1>Pour plus d'information</h1></div>
        <div class="champs1"><i class="glyphicon glyphicon-envelope">{{ espaceAprox.email }}</i></div>
        <div class="champs1"><i class="fa fa-phone" aria-hidden="true"> {{ espaceAprox.numTel }}</i></div>
        <div class="champs1"><i class="fa fa-facebook-square "></i><a href={{ espaceAprox.siteWeb }}>facebook</a></div>
        <div cclass="champs1"><i class="fa fa-external-link"></i> <a href={{ espaceAprox.siteWeb }}>Site Web</a></div>

    </div>
    {% if user == espaceAprox.propriet.id %}
        <a href="{{ path('espace_delete',{'id':espaceAprox.idResto}) }}">supprimer</a>
    {% endif %}
</div>
</div>
</body>
