<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{{ asset('template/js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/js/highcharts.js') }}"></script>
<script src="{{ asset('bundles/js/exporting.js') }}"></script>
<script type="text/javascript"> {{ chart(chart) }} </script>
<div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>{# empty Twig template #}