<style>
    body {
        background-image: url("{{ asset('template/images/0aaa8cda588eebc6452263ce30125125.jpg') }}");
        background-size: 1800px 1800px;

    }

    .carousel {
        height: 500px;
        margin-bottom: 60px;
    }
    .carousel .item {
        height: 500px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
    }
    .search {
        margin-top: -25%;
    }
    .search .form-section{
        background:rgba(204, 204, 204, 0.23);
        border: 2px solid rgba(65, 65, 65, 0.04);
        border-radius: 5px;
        padding: 10px;
    }
    .featured-jobs {
        padding: 70px 0px;
        background: #222222;
    }
    .featured-jobs .thumbnail {
        padding: 20px;
    }
    .featured-jobs .thumbnail img {
        float: left;
        margin: 0 10px 10px 0;
    }
    .featured-jobs .thumbnail .feature-link {
        color: #77c7dc;
    }
    .featured-jobs .thumbnail .feature-link h3 {
        padding-left: 10px;
        margin: 0 0 6px;
        font-size: 18px;
    }
    .featured-jobs .thumbnail .meta {
        color: #f16060;
        font-size: 11px;
    }
    .featured-jobs .thumbnail p {
        font-size: 12px;
        margin: 0 0 5px;
    }
    .featured-jobs .thumbnail .feature-btns {
        position: absolute;
        bottom: -13px;
        left: 15px;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}" />

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}" />

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control{-webkit-border-radius: 0 !important;-moz-border-radius: 0; border-radius: 0;}.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; color: #9212fd}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;} .bootstrap-iso .btn-custom{background: #9212fd} .bootstrap-iso .btn-custom:hover{background: #7e00e9;}.bootstrap-iso .form-control:focus { border-color: #9212fd;  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);} .asteriskField{color: red;}.bootstrap-iso form .input-group-addon {color:#555555; background-color: #eeeeee; border-radius: 0px; padding-left:12px}</style>


    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png')}}" alt="" class="img-responsive img-rounded"></div>
    <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>
        <li><a href="{{ path('layout')}}" style="color: #e16400">Accueil</a></li>
        <li><a href="{{ path('ajoutH')}}" style="color: #e16400">Devenir un hébergeur </a></li>
        <li><a href="{{ path('recherche')}}" style="color: #e16400">Rechercher un logement </a></li>
        <li><a href="{{ path('fos_user_profile_show')}}" style="color: #e16400">Profil</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400"><h text-align: left>Se deconnecter </h></a></li>

    </ul>
</div>
<section>
    <div class="container" style="background-color: rgba(221, 221, 221, 0.31);"><br>
        <br>
        <br>
        <h1 style="color: #040949;" >Bonjour ! Nous allons vous aider à héberger des voyageurs.</h1>
        <div class="col-md-6">
            <form action="#" method="POST" class="col-xs-12 row" role="form">
        <div>
            <h2 style="color: #e16400">Etape 1</h2>
        </div>
        <div class="form-group">
                    <label for="option">Quel type de logement avez-vous ?</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                        <select class="form-control" id="option">
                            <option>Logement entier</option>
                            <option>Chambre privée </option>
                            <option>Chambre paratagée</option>

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="option">nombre voyageur :</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                        <select class="form-control" id="option">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                        </select>
                    </div>
                </div>
                <div>
                    <h2 style="color: #e16400">Etape 2 </h2>
                    <div class="form-group">
                        <label for="option">Quel genre d'habitation proposez-vous ?</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select class="form-control" id="option">
                                <option>maison</option>
                                <option>appartement</option>
                                <option>chateau</option>
                                <option>bateau</option>
                                <option>chalet</option>
                                <option>bungalow</option>
                                <option>cabane</option>
                                <option>tente</option>
                                <option>autres</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div>
                    <div class="form-group">
                        <label>Combien de lits les voyageurs peuvent-ils utiliser ?</label>
                        <label for="option"></label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select class="form-control" id="option">
                                <option>1 lit</option>
                                <option>3 lits</option>
                                <option>4 lits</option>
                                <option>5 lits</option>
                            </select>
                        </div>
                    </div>


                </div>
                <div>
                    <div class="form-group">
                        <label>Type des lits ?</label>
                        <label for="option"></label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select class="form-control" id="option">
                                <option>varai lit </option>
                                <option>canapé convertible</option>
                                <option>canapé</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <label>Combien de salles de bain ?</label>
                        <label for="option"></label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select class="form-control" id="option">
                                <option>1</option>
                                <option>2</option>
                                <option>+2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label>acceés au salle de bain</label>
                        <label for="option"></label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select class="form-control" id="option">
                                <option>Salle de bains privée</option>
                                <option>Salle de bains partagée</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label>Où est situé votre logement ?</label>
                        <input type="text" class="form-control" id="location" placeholder="ou ?">
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label >Quels équipements proposez-vous ?</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">  Produits de base
                                Serviettes, draps, savon et papier toilette
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Wi-Fi
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">  Télévision
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">  Chauffage
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">  Climatisation
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox">  Cheminée
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox">  Entrée privée
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox">   Bureau/Espace de travail
                            </label>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <label>Quels équipements proposez-vous ?</label>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox">  Piscine
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox">  Parking
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox">  Cuisine
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox">   Salon privé
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 style="color: #e16400">Etape 3</h2>
                </div>
                <div class="form-group">
                    <label for="file">Ajouter des photos</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-file-o"></i></div>
                        <input type="file" id="file" class="form-control">
                    </div>
                </div>
                <h2 style="color: #e16400">Etape 4</h2>
                <div>
                    <div class="form-group">
                        <label>Prix par nuit !</label>
                        <input type="text" class="form-control" id="location" placeholder="prix">
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label>Nombre des points par nuit</label>
                        <input type="text" class="form-control" id="location" placeholder="point">
                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <label>liste des services disponible :</label>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox">  Des cours de musique à domicile
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox">  Des cours de cuisine à domicile
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox">  babysitter
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox">   des cours de langues
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">confirmer</button>
                    </div>
                </div>
            </form>
    </div>
    </div>
</section>

<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="{{ asset('https://code.jquery.com/jquery-1.11.3.min.js') }}"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css') }}"/>

<script src="{{ asset('template/js/jquery.min.js')}}"></script>
<script src="{{ asset('template/js/jquery-ui.min.js')}}"></script>
<script src="{{ asset('template/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('template/js/jquery.parallax.js')}}"></script>
<!-- template mo config script -->
<script src="{{ asset('template/js/templatemo_scripts.js')}}"></script>
</body>