<style>
    body {
        background-image: url("{{ asset('template/images/Music-festival.jpg') }}");
        background-size: 1000px 1000px;

    }

    .carousel {
        height: 500px;
        margin-bottom: 60px;
    }
    .carousel .item {
        height: 500px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
    }

    label{display:block;
        float:left;
        width:150px;
        text-align:right;
        padding:0 5px 0 0}
    .search {
        margin-top: -25%;
    }
    .search .form-section{
        background:rgba(204, 204, 204, 0.23);
        border: 2px solid rgba(65, 65, 65, 0.04);
        border-radius: 5px;
        padding: 10px;
    }
    .featured-jobs {
        padding: 70px 0px;
        background: #222222;
    }
    .featured-jobs .thumbnail {
        padding: 20px;
    }
    .featured-jobs .thumbnail img {
        float: left;
        margin: 0 10px 10px 0;
    }
    .featured-jobs .thumbnail .feature-link {
        color: #77c7dc;
    }
    .featured-jobs .thumbnail .feature-link h3 {
        padding-left: 10px;
        margin: 0 0 6px;
        font-size: 18px;
    }
    .featured-jobs .thumbnail .meta {
        color: #f16060;
        font-size: 11px;
    }
    .featured-jobs .thumbnail p {
        font-size: 12px;
        margin: 0 0 5px;
    }
    .featured-jobs .thumbnail .feature-btns {
        position: absolute;
        bottom: -13px;
        left: 15px;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}" />

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}" />

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control{-webkit-border-radius: 0 !important;-moz-border-radius: 0; border-radius: 0;}.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; color: #9212fd}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;} .bootstrap-iso .btn-custom{background: #9212fd} .bootstrap-iso .btn-custom:hover{background: #7e00e9;}.bootstrap-iso .form-control:focus { border-color: #9212fd;  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);} .asteriskField{color: red;}.bootstrap-iso form .input-group-addon {color:#555555; background-color: #eeeeee; border-radius: 0px; padding-left:12px}</style>


    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png')}}" alt="" class="img-responsive img-rounded"></div>
    <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>

        <li><a href="{{ path('layout') }}" style="color: #e16400">Accueil</a></li>
        <li><a href="{{ path('ajoutH') }}" style="color: #e16400">Devenir un hébergeur </a></li>
        <li><a href="#" style="color: #e16400">Profil</a></li>
        <li style="color: #e16400">{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}Connecté en tant que {{ app.user.username }}</li>
        <li> <a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">Déconnexion</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" style="color: #e16400">Connexion</a>
            {% endif %}
        </li>


    </ul>
</div>
<section>
    <div class="container" style="background-color: rgba(221, 221, 221, 0.31);"><br>
        <br>
        <br>
        <h1 style="color: #040949;" >Bonjour ! Nous allons vous proposer des évènements à proximité ! </h1>
        <br><br><br>
        <div class="col-md-6">
            <form action="{{ path('details') }}" method="POST" class="col-xs-12 row" role="form">

                <div class="form-group">

                    <div class="input-group">
                        <label for="option">Catégorie</label>
                        <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                        <select class="form-control" id="option">
                            <option>Evènement sportif</option>
                            <option>Festival musical</option>
                            <option>Evènement culturel</option>

                        </select>
                    </div>
                </div>
                <div class="form-group">

                    <div class="input-group">
                        <label for="option">Durée évènement</label>
                        <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                        <select class="form-control" id="option">
                            <option>1 jours</option>
                            <option>2 jours</option>
                            <option>3 jours</option>
                            <option>4 jours</option>
                            <option>5 jours</option>
                            <option>6 jours</option>
                            <option>7 jours</option>
                            <option>8 jours</option>
                            <option>9 jours</option>
                            <option>10 jours</option>
                            <option>11 jours</option>
                            <option>12 jours</option>
                            <option>13 jours</option>
                            <option>14 jours</option>
                            <option>15 jours</option>
                            <option>16 jours</option>
                            <option>17 jours</option>
                            <option>18 jours</option>
                            <option>19 jours</option>
                            <option>20 jours</option>
                            <option>21 jours</option>
                            <option>22 jours</option>
                            <option>23 jours</option>
                            <option>24 jours</option>
                            <option>25 jours</option>
                            <option>26 jours</option>
                            <option>27 jours</option>
                            <option>28 jours</option>
                            <option>29 jours</option>

                        </select>
                    </div>
                </div>

                <div  class="input-group">

                    <label>Date Début :   <input type="date" name="date_deb" value="DateDeb"></label>
                </div><br>


                <div  class="input-group">

                    <label>Date fin :   <input type="date" name="date_fin" value="Datefin"></label>
                </div><br>
                <div>
                    <div>
                        <div class="form-group">
                            <label>Description</label>
                            <label for="option"></label>

                            <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <textarea rows="8" cols="70"></textarea>

                        </div>
                    </div>

                </div>


                    <div class="form-group">
                        <label>Entrée</label>
                        <label for="option"></label>

                            <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select class="form-control" id="option">
                                <option>Payante</option>
                                <option>Gratuite</option>
                            </select>
                   </div>

                <div class="form-group">
                  <label>  Lien facebook : <input type="texte"placeholder="https://www.facebook.com/TechMakersEvents"></label>
                </div><br><br><br><br>

                <div class="form-group">
                  <label>  <button type="submit" class="btn btn-primary">confirmer</button></label>
                </div>
              </form>
        </div>
    </div>
</section>

<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="{{ asset('https://code.jquery.com/jquery-1.11.3.min.js') }}"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css') }}"/>

<script src="{{ asset('template/js/jquery.min.js')}}"></script>
<script src="{{ asset('template/js/jquery-ui.min.js')}}"></script>
<script src="{{ asset('template/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('template/js/jquery.parallax.js')}}"></script>
<!-- template mo config script -->
<script src="{{ asset('template/js/templatemo_scripts.js')}}"></script>
</body>