<style>

    .carousel {
        height: 500px;
        margin-bottom: 60px;
    }
    .carousel .item {
        height: 500px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
    }
    .search {
        margin-top: -25%;
    }
    .search .form-section{
        background:rgba(204, 204, 204, 0.23);
        border: 2px solid rgba(65, 65, 65, 0.04);
        border-radius: 5px;
        padding: 10px;
    }
    .featured-jobs {
        padding: 70px 0px;
        background: #222222;
    }
    .featured-jobs .thumbnail {
        padding: 20px;
    }
    .featured-jobs .thumbnail img {
        float: left;
        margin: 0 10px 10px 0;
    }
    .featured-jobs .thumbnail .feature-link {
        color: #77c7dc;
    }
    .featured-jobs .thumbnail .feature-link h3 {
        padding-left: 10px;
        margin: 0 0 6px;
        font-size: 18px;
    }
    .featured-jobs .thumbnail .meta {
        color: #f16060;
        font-size: 11px;
    }
    .featured-jobs .thumbnail p {
        font-size: 12px;
        margin: 0 0 5px;
    }
    .featured-jobs .thumbnail .feature-btns {
        position: absolute;
        bottom: -13px;
        left: 15px;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}" />

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}" />

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control{-webkit-border-radius: 0 !important;-moz-border-radius: 0; border-radius: 0;}.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; color: #9212fd}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;} .bootstrap-iso .btn-custom{background: #9212fd} .bootstrap-iso .btn-custom:hover{background: #7e00e9;}.bootstrap-iso .form-control:focus { border-color: #9212fd;  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);} .asteriskField{color: red;}.bootstrap-iso form .input-group-addon {color:#555555; background-color: #eeeeee; border-radius: 0px; padding-left:12px}</style>


    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png')}}" alt="" class="img-responsive img-rounded"></div>
    <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>
        <li><a href="{{ path('layout')}}" style="color: #e16400">Accueil</a></li>
        <li><a href="{{ path('ajoutH')}}" style="color: #e16400">Devenir un hébergeur </a></li>
        <li><a href="#" style="color: #e16400">Profil</a></li>
        <li><a href="#" style="color: #e16400"><h text-align: left>Se deconnecter </h></a></li>

    </ul>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ asset('template/images/dar1.jpg') }}" alt="First slide">
        </div>
        <div class="item">
            <img src="{{ asset ('template/images/dar2.jpg') }}" alt="Second slide">
        </div>
        <div class="item">
            <img src="{{ asset('template/images/dar3.jpg')}}" alt="Third slide">
        </div>
        <div class="item">
            <img src="{{ asset('template/images/55c9b9b6-43de-42d5-abd3-c37b5fad409c.jpg')}}" alt="Third slide">
        </div>
        <div class="item">
            <img src="{{ asset('template/images/141dd292-a622-4790-8cfe-5272340d6e6a.jpg')}}" alt="Third slide">
        </div>
        <div class="item">
            <img src="{{ asset('template/images/dar6.jpg')}}" alt="Third slide">
        </div>
        <div class="item">
            <img src="{{ asset('template/images/dar7.jpg')}}" alt="Third slide">
        </div>
        <div class="item">
            <img src="{{ asset('template/images/dar8.jpg')}}" alt="Third slide">
        </div>

        <div class="item">
            <img src="{{ asset('template/images/dar9.jpg')}}" alt="Third slide">
        </div>
        <div class="item">
            <img src="{{ asset('template/images/dar10.jpg')}}" alt="Third slide">
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left	"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<section id="templatemo_element">
     <div class="container" style="background-color: rgba(252, 248, 227, 0.66);">
        <header class="template_header">
        </header>
        <div class="col-md-6">
            <h2 style="color: #e16400">À propos de ce logement</h2>
            <p>FREE: Fiber Optic Internet Connection!<br> 1 bedroom apartment with a king size bed, bathroom, a kitchen and dining/living area with a pull out sofa. It has a direct access from the bedroom to the pool which is shared with only 2 more apartments.</p>
        </div>
        <div class="col-md-6">
            <h2 style="color: #e16400">Le logement</h2>
            <ul><li>Capacité d'accueil : 2</li>
                <li> Chambres : 1</li>
                <li>Type de lit : Vrai lit</li>
                <li>Lits : 1</li>
                <li> Type de propriété : Appartement</li>
                <li>Salles de bain : 1</li>
                <li>Type de logement : Logement entier</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2 style="color:#e16400">Prix</h2>
            <blockquote>
                <ul><li>Frais de ménage : $28</li>
                    <li>Réduction à la semaine : 5%</li>
                    <li>Réduction au mois : 14%</li>
                    <li>1 nuit : 700 points</li>
                    <li>1 nuit 50$ </li>
                </ul>

            </blockquote>
        </div>
        <div class="col-md-6">
            <h2 style="color: #e16400">Description</h2>
            Blanc Pool Villa avec seulement 3 appartements est situé sur la route de la plage de Rawai à l'Phromptep Cape, la pointe la plus méridionale de Phuket, connu pour ses couchers de soleil romantiques et spectaculaires.
            Les appartements partagent piscine privée, donc il n'y a pas foule et suffisamment d'intimité pour tout le monde. Chaque appartement a sa propre terrasse privée. La villa dispose d'un grand jardin (1000 m²) avec arbres et palmiers. Situé dans de beaux motifs à flanc de colline de rupture avec la végétation nourrie avec goût avec un sentiment de retour à la Nature. Pourtant, il ne est qu'à quelques minutes de la célèbre plage de Rawai et de Nai Harn.
        </div>
        <div class="col-md-6">
            <h2 style="color: #e16400">Équipements et services:</h2>
            - GRATUIT: fibre optique de connexion Internet<br>
            -Air Condition<br>
            Ventilateurs -Celling<br>
            TV -LCD, la télévision par câble<br>
            Case -Coffret de sûreté dans chaque appartement<br>
            -WiFi Gratuit (fibre optique Internet: 24.45Mbps téléchargement spead, 3,48 Mbps vitesse de téléchargement)
            Parking -Free<br>
            -serviettes Et le linge de lit sont fournis<br>
            -Nettoyage 1 x par semaine ou comme convenu<br>

            Phuket Airport Distance: 01:30 h, en fonction du trafic <br>
            Phuket Town: 30 minutes <br>

            Nous espérons que vous apprécierez votre séjour dans notre appartement!<br>

        </div>


         <div class="col-md-6">
             <h3 style="color: #e16400">Emplacement</h3>
             <div class="col-md-6">
                 <img style="max-width: 250%" src="{{ asset('template/images/phoca_thumb_l_mapmodule.jpg')}}">
             </div>
         </div>

         <div class="clearfix"></div>
         <hr/>

         <div class="col-md-8">
             <div class="col-md-6">
                 <h3 style="color: #e16400">Commentaires</h3>
                 <dl>
                     <dt>Anna Biwao</dt>
                     <dd>Tres satisfait , personne tres serviable , villa reservé en derniere minute pour quelques heures plutard, un Grand merci La villa tres jolie mais un peu eloigné de vie nocturne . Ideal pour du repos .</dd>
                 </dl>
                 <dl>
                     <dt>Aline</dt>
                     <dd>Idealement situe a rawai.
                         La piscine est grand et propre (nettoyee tous les matins).
                         A notre arrivee, accueuil sympatique de Mr Nok. Tout au long du sejour, au moindre de doute sur quoique se soit Mr Nok reste a lecoute.</dd>
                 </dl>
             </div>
             <form action="#" method="POST" class="col-xs-12 row" role="form">
                 <div class="form-group">
                     <label for="email">Ajouter un commentaire</label>
                     <div class="form-group">
                         <div class="input-group">
                             <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                             <textarea name="message" class="form-control" id="contact-message" placeholder="Message"></textarea>
                         </div>
                     </div>
                 </div>
                 <div class="form-group">
                     <button type="submit" class="btn btn-primary">Publier</button>
                 </div>
             </form>
         </div>
     </div>
</section>
<hr/>
<div class="clearfix"></div>

<section>

    <div class="container" style="background-color: rgba(252, 248, 227, 0.66);">
        <h1 class="text-center"  style="color: #e16400"> Reservation </h1>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="form-group ">
                <label>Arivée</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar">
                        </i>
                    </div>
                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="form-group ">
                <label>Arivée</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar">
                        </i>
                    </div>
                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Personne</label>
                <select id="guest" name="guest" class="form-control">
                    <option value="1">1 </option>
                    <option value="2">2 </option>
                    <option value="3">3 </option>
                    <option value="4">4 </option>
                    <option value="5">5 </option>
                    <option value="6">6 </option>
                    <option value="7">7 </option>
                    <option value="8">8 </option>
                    <option value="9">9 </option>
                    <option value="10">10 </option>
                    <option value="11">11 </option>
                    <option value="12">12 </option>
                    <option value="13">13 </option>
                    <option value="14">14 </option>
                    <option value="15">15 </option>
                    <option value="16">16+ </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <br>
            <button type="submit" class="btn btn-default btn-primary">reserver</button>
        </div>
    </div>
</section>


<script>
    $(document).ready(function(
    ){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
<!-- Contact -->
<section id="templatemo_contact">
    <hr/>
    <div class="container" style="background-color: rgba(252, 248, 227, 0.66);">
        <div class="row">
            <div class="col-sm-12">
                <header class="template_header">
                    <h1 class="text-center"  style="color: #e16400"><span>...</span> Contacter Hôte <span>...</span></h1>
                </header>
                <div>
                    <dl class="dl-horizontal">
                        <dt style="color: #C82829">Zokson</dt>
                        <dd>Ljubljana, Slovénie · Membre depuis janvier 2014</dd>
                        <p>I travel all around the world, studied economics, like all kinds of sports, nature, good food and good wine. Love labradors , the Alp mountains !
                            (and my wife - of course !)</p>
                    </dl>
                </div>

            </div>
        </div>
        <form role="form" action="#" method="post">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" name="name" class="form-control" id="contact-name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-at"></i></div>
                    <input type="text" name="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                    <textarea name="message" class="form-control" id="contact-message" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-xs-offset-6">
                    <button type="submit" class="form-control">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="{{ asset('https://code.jquery.com/jquery-1.11.3.min.js') }}"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css') }}"/>

<script src="{{ asset('template/js/jquery.min.js')}}"></script>
<script src="{{ asset('template/js/jquery-ui.min.js')}}"></script>
<script src="{{ asset('template/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('template/js/jquery.parallax.js')}}"></script>
<!-- template mo config script -->
<script src="{{ asset('template/js/templatemo_scripts.js')}}"></script>
</body>