<!DOCTYPE html>
<html lang="en" class="ie_11_scroll">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="hhhwidth=device-width, initial-scale=1">
    <title>App Landing Page</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/templatemo_style.css') }}"/>
    <link rel="shortcut icon" href="{{ asset ('template/images/favicon.png') }}" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Top menu -->
<div class="show-menu">
    <a href="#" class="shadow-top-down">+</a>
</div>
<nav class="main-menu shadow-top-down">
    <ul class="nav nav-pills nav-stacked">
        <li><a class="scroll_effect" href="{{ path('layout')}}">ACCUEIL</a></li>
    </ul>
</nav>
<!-- Elements -->
<section id="templatemo_element">
    <div class="container">
        <header class="template_header">
            <div class="col-xs-6"><img src="{{ asset('template/images/Capture.PNG')}}" alt="" class="img-responsive img-rounded"></div>
            <h1 class="text-center"><span>...</span> INSCRIPTION GRATUITE <span>...</span></h1>
        </header>
        <div class="clearfix"></div>
        <hr />
        <div class="col-md-6">
            <form action="#" method="POST" class="col-xs-12 row" role="form">
                <div class="form-group">
                    <label for="email">Adresse Email*</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">mot de passe*</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                    <div class="form-group">
                        <label for="password">Conffirmer mot de passe* </label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="file">ajouter votre photo</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-file-o"></i></div>
                            <input type="file" id="file" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="option">Sexe</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
                            <select class="form-control" id="option">
                                <option>Homme</option>
                                <option>Femme </option>
                                <option>Autre </option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Sumbit</button>
                    </div>
            </form>
        </div>
        <br>
        <br>
        <br>

        <div class="col-md-6">
            <div id="img-grid-wapper">
                <div class="col-xs-6"><img src="{{ asset('template/images/8.jpg')}}" alt="" class="img-responsive img-rounded"></div>
                <div class="col-xs-6"><img src="{{ asset('template/images/9.jpg')}}" alt="" class="img-responsive img-rounded"></div>
                <div class="col-xs-6"><img src="{{ asset('template/images/4.jpg')}}" alt="" class="img-responsive img-rounded"></div>

            </div>
        </div>
    </div>
</section>

<!-- Contact -->
<section id="templatemo_contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <header class="template_header">
                    <h1 class="text-center"><span>...</span> Contact <span>...</span></h1>
                </header>
                <p class="text-center">
                    <i class="fa fa-map-marker"></i> Avenue Habib-Bourguiba<br />
                    <i class="fa fa-envelope"></i> Email: <a href="www.gmail.tn">tech-makers@gmail.tn</a><br />
                    <i class="fa fa-phone"></i> Phone: <a href=#>71 000 000</a>
                </p>
            </div>
        </div>
        <form role="form" action="#" method="post">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" name="name" class="form-control" id="contact-name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-at"></i></div>
                    <input type="text" name="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                    <textarea name="message" class="form-control" id="contact-message" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-xs-offset-6">
                    <button type="submit" class="form-control">Send</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="nav nav-pills social">
                    <li><a href="#" class="shadow-top-down social-facebook"><i class="fa fa-facebook-official"></i></a></li>
                    <li><a href="#" class="shadow-top-down social-twitter"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="#" class="shadow-top-down social-youtube"><i class="fa fa-youtube-square"></i></a></li>
                    <li><a href="#" class="shadow-top-down social-instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 footer-copyright">
                <p>Copyright &copy; 2084 <a href="#" target="_parent">Tech-Makers</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- require plugins -->
<script src="{{ asset('template/js/jquery.min.js')}}"></script>
<script src="{{ asset('template/js/jquery-ui.min.js')}}"></script>
<script src="{{ asset('template/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('template/js/jquery.parallax.js')}}"></script>
<!-- template mo config script -->
<script src="{{ asset('template/js/templatemo_scripts.js')}}"></script>
</body>
</html>













