{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Connecté en tant que {{ app.user.username }}
    -
    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
{% endif %}
<style>
    body {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #e3e3e3;
    }

    .carousel {
        height: 500px;
        margin-bottom: 60px;
    }
    .carousel .item {
        height: 500px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
    }
    .search {
        margin-top: -25%;
    }
    .search .form-section{
        background:rgba(204, 204, 204, 0.23);
        border: 2px solid rgba(65, 65, 65, 0.04);
        border-radius: 5px;
        padding: 10px;
    }
    .featured-jobs {
        padding: 70px 0px;
        background: #222222;
    }
    .featured-jobs .thumbnail {
        padding: 20px;
    }
    .featured-jobs .thumbnail img {
        float: left;
        margin: 0 10px 10px 0;
    }
    .featured-jobs .thumbnail .feature-link {
        color: #77c7dc;
    }
    .featured-jobs .thumbnail .feature-link h3 {
        padding-left: 10px;
        margin: 0 0 6px;
        font-size: 18px;
    }
    .featured-jobs .thumbnail .meta {
        color: #f16060;
        font-size: 11px;
    }
    .featured-jobs .thumbnail p {
        font-size: 12px;
        margin: 0 0 5px;
    }
    .featured-jobs .thumbnail .feature-btns {
        position: absolute;
        bottom: -13px;
        left: 15px;
    }
    img {
        width: 50px;
        height: 50px;
    }
         /* The Modal (background) */
     .modal {
         display: none; /* Hidden by default */
         position: fixed; /* Stay in place */
         z-index: 1; /* Sit on top */
         padding-top: 100px; /* Location of the box */
         left: 0;
         top: 0;
         width: 100%; /* Full width */
         height: 100%; /* Full height */
         overflow: auto; /* Enable scroll if needed */
         background-color: rgb(0,0,0); /* Fallback color */
         background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    .modal-body {padding: 2px 16px;}

    .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}" />

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}" />

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control{-webkit-border-radius: 0 !important;-moz-border-radius: 0; border-radius: 0;}.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; color: #9212fd}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;} .bootstrap-iso .btn-custom{background: #9212fd} .bootstrap-iso .btn-custom:hover{background: #7e00e9;}.bootstrap-iso .form-control:focus { border-color: #9212fd;  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);} .asteriskField{color: red;}.bootstrap-iso form .input-group-addon {color:#555555; background-color: #eeeeee; border-radius: 0px; padding-left:12px}</style>


    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
9666666
<button id="myBtn">Open Modal</button>
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Modal Header</h2>
        </div>
        <div class="modal-body">
            <p>Some text in the Modal Body</p>
            <p>Some other text...</p>
        </div>
        <div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png')}}" alt="" class="img-responsive img-rounded"></div>
    <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>
        <li><a href="{{ path('layout')}}" style="color: #e16400">Accueil</a></li>
        <li><a href="#" style="color: #e16400">Devenir un hébergeur </a></li>
        <li><a href="{{ path('fos_user_security_login')}}" style="color: #e16400"><h text-align: left>Se connecter </h></a></li>
        <li><a href="#" style="color: #e16400">|</a></li>
        <li><a href="{{ path('fos_user_registration_register')}}" style="color: #e16400"> S'inscrire </a></li>

    </ul>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ asset('template/images/__Battersea_Listing_Host_Greeting_0080_HR1_Full.jpg') }}" alt="First slide">
        </div>
        <div class="item">
            <img src="{{ asset ('template/images/Airbnb-Etiquette-TIPS0316.jpg') }}" alt="Second slide">
        </div>
        <div class="item">
            <img src="{{ asset('template/images/guest-expectations-feature.jpg')}}" alt="Third slide">
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left	"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="search">
    <div class="bootstrap-iso">
        <div class="container-fluid">
         <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-section">
                    <div class="row">
                        <form action="{{ path('details') }}" role="form" method="post">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="sr-only" for="location">Destination</label>
                                    <input type="email" class="form-control" id="location" placeholder="destination">
                                </div>
                            </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                                <div class="form-group ">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar">
                                                            </i>
                                                        </div>
                                                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
                                                    </div>
                                                </div>
                                        </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="sr-only" for="guest">Voyageur</label>
                                    <select id="guest" name="guest" class="form-control">
                                        <option value="1">1 Guest</option>
                                        <option value="2">2 Guests</option>
                                        <option value="3">3 Guests</option>
                                        <option value="4">4 Guests</option>
                                        <option value="5">5 Guests</option>
                                        <option value="6">6 Guests</option>
                                        <option value="7">7 Guests</option>
                                        <option value="8">8 Guests</option>
                                        <option value="9">9 Guests</option>
                                        <option value="10">10 Guests</option>
                                        <option value="11">11 Guests</option>
                                        <option value="12">12 Guests</option>
                                        <option value="13">13 Guests</option>
                                        <option value="14">14 Guests</option>
                                        <option value="15">15 Guests</option>
                                        <option value="16">16+ Guests</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-default btn-primary">rechercher</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<section class="featured-jobs">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">

            <!-- first feature job -->
            <div class="col-sm-6 col-md-4">

                <div class="thumbnail">
                    <img src="{{ asset('template/images/1.jpg') }}">
                    <a href="" class="feature-link"><h3>Apartement/Flat à Rome</h3></a>
                    <p>chez Gioia, contacter moi</p>
                    <span class="meta">Posté par Gioia - 12/12/2014</span>
                    <div class="feature-btns" >
                        <a href="{{ path('details')}}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a>
                        <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a>
                        <a href="{{ path('reservation')}}" class="btn btn-primary" role="button">Réserver</a>
                    </div>
                </div>

            </div>

            <!-- second feature job -->
            <div class="col-sm-6 col-md-4">

                <div class="thumbnail">
                    <img src="{{ asset('template/images/1.jpg') }}">
                    <a href="" class="feature-link"><h3>Apartement/Flat à Rome</h3></a>
                    <p>chez Gioia, contacter moi</p>
                    <span class="meta">Posté par Gioia - 12/12/2014</span>
                    <div class="feature-btns"><a href="{{ path('details')}}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a>
                        <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a>
                        <a href="{{ path('reservation')}}" class="btn btn-primary" role="button">Réserver</a></div>
                </div>

            </div>
            <!-- third feature job -->
            <div class="col-sm-6 col-md-4">

                <div class="thumbnail">
                    <img src="{{ asset('template/images/1.jpg') }}">
                    <a href="" class="feature-link"><h3>Apartement/Flat à Rome</h3></a>
                    <p>chez Gioia, contacter moi</p>
                    <span class="meta">Posté par Gioia - 12/12/2014</span>
                    <div class="feature-btns" >
                        <a href="{{ path('details')}}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a>
                        <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a>
                        <a href="{{ path('reservation')}}" class="btn btn-primary" role="button">Réserver</a>
                    </div>
                </div>

            </div>

        </div>
        <br>
        <br>
        <div class="row">

            <!-- first feature job -->
            <div class="col-sm-6 col-md-4">

                <div class="thumbnail">
                    <img data-src="holder.js/90x70" src="{{ asset('template/images/34.jpg') }}">
                    <a href="" class="feature-link"><h3>Apartement/Flat à Keaau</h3></a>
                    <p>Chez Zoe, contacter moi</p>
                    <span class="meta">Posté par Zoe - 12/12/2014</span>
                    <div class="feature-btns"><a href="{{ path('details')}}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a>
                        <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a>
                        <a href="{{ path('reservation')}}" class="btn btn-primary" role="button">Réserver</a>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 col-md-4">

            <div class="thumbnail">
                <img src="{{ asset('template/images/1.jpg') }}">
                <a href="" class="feature-link"><h3>Apartement/Flat à Rome</h3></a>
                <p>chez Gioia, contacter moi</p>
                <span class="meta">Posté par Gioia - 12/12/2014</span>
                <div class="feature-btns"><a href="{{ path('details')}}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a>
                    <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a>
                    <a href="{{ path('reservation')}}" class="btn btn-primary" role="button">Réserver</a>
                </div>
            </div>

        </div>
        <!-- third feature job -->
        <div class="col-sm-6 col-md-4">

            <div class="thumbnail">
                <img src="{{ asset('template/images/1.jpg') }}">
                <a href="" class="feature-link"><h3>Apartement/Flat à Rome</h3></a>
                <p>chez Gioia, contacter moi</p>
                <span class="meta">Posté par Gioia - 12/12/2014</span>
                <div class="feature-btns"><a href="{{ path('details')}}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a>
                    <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a>
                    <a href="{{ path('reservation')}}" class="btn btn-primary" role="button">Réserver</a>
                </div>
            </div>

        </div>

        </div>
    </div>
</section>
<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="{{ asset('https://code.jquery.com/jquery-1.11.3.min.js') }}"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css') }}"/>

<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<script src="{{ asset('template/js/jquery.min.js')}}"></script>
<script src="{{ asset('template/js/jquery-ui.min.js')}}"></script>
<script src="{{ asset('template/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('template/js/jquery.parallax.js')}}"></script>
<!-- template mo config script -->
<script src="{{ asset('template/js/templatemo_scripts.js')}}"></script>
</body>