.messagebox {
    position: absolute;
    width: auto;
    margin-left: 30px;
    border: 1px solid #c93;
    background: #ffc;
    padding: 5px 10px;
}

.dispo {
    position: absolute;
    width: auto;
    margin-left: 30px;
    border: 1px solid #349534;
    background: #C9FFCA;
    padding: 5px 10px;
    color: #008000;
}

.busy {
    position: absolute;
    width: auto;
    margin-left: 30px;
    border: 1px solid #CC0000;
    background: #F7CBCA;
    padding: 5px 10px;
    color: #CC0000;
}

input {
    padding: 5px 10px;
}