
.container {
    background-color: rgba(248, 240, 211, 0.8);
    padding-top: 5%;

}

.titres {
    font-size: 18px;
    color: blue;
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.col-sm-3 a {
    border: 1px solid transparent;
    border-radius: 0;
    transition: all 3s ease;
}

.col-sm-3 a:hover {
    border: 1px solid #ff4647;
    border-radius: 100% 60% / 30% 10%;
    background: linear-gradient(rgba(56, 123, 131, 0.7), rgba(56, 123, 131, 0.7));
}

.carousel {

    overflow: hidden;
}

.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.carousel .active.left, .carousel .active.right {
    left: 0;
    opacity: 0;
    z-index: 2;
}

.carousel .next, .carousel .prev {
    left: 0;
    opacity: 1;
    z-index: 1;
}

.item:nth-child(1) {
    background: darkred;
}

.item:nth-child(2) {
    background: red;
}

.item:nth-child(3) {
    background: orange;
}

.parag {
    font-size: 25px;
    margin-left: 30px;
    color: black;
}


