<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>

    </head>
    <body>

            {% block fos_user_content %}
                <div class="container">
                    {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        <div class="alert alert-{{ type }}">
                           <ul>
                            {% for message in messages %}
                            <li>
                                {{ message }}
                            </li>
                            {% endfor %}
                           </ul>
                        </div>
                    {% endfor %}
                {% endif %}

        </div>
            {% endblock fos_user_content %}
        <script src="{{ asset('template/js/bootstrap.min.js')}}"></script>

    </body>
</html>

































