<style>

    {
        margin: 0
    ;
        padding: 0
    ;
    }
    .notice {
        font-family: arial, sans-serif;
        font-size: 100%;

        margin: 3em;
        background: #C0C0C0;
        color: #0000;
    }

    p {
        font-size: 100%;
        font-weight: normal;
        color: #0000;
    }

    ul, li {
        list-style: none;
    }

    ul {
        overflow: hidden;
        padding: 3em;
    }

    ul li {
        margin: 1em;
        float: left;
    }

    font {
        color: #0000;
    }
</style>
<div style="width: 40% ;height: 40%" class="notice">
    <ul>
        <li>
            <h1>déjà réservé(e)!</h1>

            <p> cher Client(e) : {{ rez.client }}<br>
                vous avez reservé depuis {{ rez.debutrez |date("m/d/y") }} jusqu'a {{ rez.finrez |date("m/d/y") }}<br>
                pour {{ rez.nbrePers }} personnes<br>


                {% if rez.remiserez is not null %}
                    vous benificiez de :
                    {% for i in rez.remiserez %}
                        -{{ i }}<br>
                    {% endfor %}{% endif %}</p>
        </li>
        <li></li>
    </ul>

</div>
