{% block body %}
    <h1>Reservrestos list</h1>

    <table>
    <thead>
    <tr>
        <th>Idrez</th>
        <th>Requirement</th>
        <th>Debutrez</th>
        <th>Finrez</th>
        <th>Nbrepers</th>
        <th>Nbrrp</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for reservResto in reservRestos %}
        <tr>
            <td><a href="{{ path('reservresto_show', { 'id': reservResto.idRez }) }}">{{ reservResto.idRez }}</a></td>
            <td>{{ reservResto.Requirement }}</td>
            <td>{% if reservResto.Debutrez %}{{ reservResto.Debutrez|date('Y-m-d') }}{% endif %}</td>
            <td>{% if reservResto.Finrez %}{{ reservResto.Finrez|date('Y-m-d') }}{% endif %}</td>
            <td>{{ reservResto.NbrePers }}</td>
            <td>{{ reservResto.nbrrp }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('reservresto_show', { 'id': reservResto.idRez }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reservresto_edit', { 'id': reservResto.idRez }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>

        </tbody>
        </table>


    {% endfor %}
{% endblock %}
