<style>
    body {
        background-image: url("{{ asset('template/images/restoback.JPEG') }}");
        background-size: 1800px 1800px;

    }

    .container {
        background-color: rgba(248, 240, 211, 0.8);
        padding-top: 5%;

    }

    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;

    }

    .form-group {
        font-size: 20px;
        color: black;

    }

    .h66 {
        font-size: 25px;
        color: #0B5ED4;
    }

    .checkbox {
        font-size: 18px;
        color: black;
        padding-left: 15%;
    }

</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}"/>

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet"
          href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}"/>

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>
        .bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control {
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            color: #9212fd
        }

        .bootstrap-iso form button, .bootstrap-iso form button:hover {
            color: #ffffff !important;
        }

        .bootstrap-iso .btn-custom {
            background: #9212fd
        }

        .bootstrap-iso .btn-custom:hover {
            background: #7e00e9;
        }

        .bootstrap-iso .form-control:focus {
            border-color: #9212fd;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
        }

        .asteriskField {
            color: red;
        }

        .bootstrap-iso form .input-group-addon {
            color: #555555;
            background-color: #eeeeee;
            border-radius: 0px;
            padding-left: 12px
        }</style>


    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png') }}" alt=""
                                   class="img-responsive img-rounded"></div>
        <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>
            <li><a href="{{ path('layout') }}" style="color: #e16400">Accueil</a></li>
            <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un
                    hébergeur </a>
            </li>
            <li><a href="{{ path('logement_index') }}" style="color: #e16400">Rechercher un logement </a></li>
            <li><a href="{{ path('fos_user_profile_show') }}" style="color: #e16400">Profil</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                    <h text-align: left>Se deconnecter</h>
                </a></li>
            <li><br>
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">Espace Aprox
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">

                        <li><a href="{{ path ('espace_index') }}">Annonces</a></li>

                    </ul>
                </div>
            </li>
        </ul>
    </div>


    <h1>Reservresto</h1>

    <table>
        <tbody>

        <tr>
        <tr>
            <th>Nombre de personnes</th>
            <td>{{ reservResto.NbrePers }}</td>
        </tr>
        <tr>
            <th>Nombre de repas par jour</th>
            <td>{{ reservResto.nbrrp }}</td>
        </tr>
        <th>Requirement</th>
        <td>{{ reservResto.Requirement }}</td>
        </tr>
        <tr>
            <th>Debut de reservation</th>
            <td>{% if reservResto.Debutrez %}{{ reservResto.Debutrez|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Fin de reservation</th>
            <td>{% if reservResto.Finrez %}{{ reservResto.Finrez|date('Y-m-d') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>

        <li>
            <a href="{{ path('reservresto_edit', { 'id': reservResto.idRez }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
</body>
