<style>
    body {
        margin-top: 40px;
    }

    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;

    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

    #map_canvas {
        height: 500px;
        width: 100%;
        margin-bottom: 10px;
    }
</style>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <script type="text/javascript"
            src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyBA4yOOp_FvJR3FQDGH-Ulm637C45dXmqo&sensor=false&libraries=places') }}">
    </script>
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}" />

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}" />

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control {
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            color: #9212fd
        }

        .bootstrap-iso form button, .bootstrap-iso form button:hover {
            color: #ffffff !important;
        }

        .bootstrap-iso .btn-custom {
            background: #9212fd
        }

        .bootstrap-iso .btn-custom:hover {
            background: #7e00e9;
        }

        .bootstrap-iso .form-control:focus {
            border-color: #9212fd;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);
        }

        .asteriskField {
            color: red;
        }

        .bootstrap-iso form .input-group-addon {
            color: #555555;
            background-color: #eeeeee;
            border-radius: 0px;
            padding-left: 12px
        }</style>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css"
          type="text/css" media="all"/>

    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript"
            src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyBA4yOOp_FvJR3FQDGH-Ulm637C45dXmqo&sensor=false&libraries=places') }}">
    </script>

</head>
<body onload="initialize(6, 'map_canvas')">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png')}}" alt="" class="img-responsive img-rounded"></div>
    <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>
        <li><a href="{{ path('layout')}}" style="color: #e16400">Accueil</a></li>
        <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un hébergeur </a></li>
        <li><a href="{{ path('logement_index') }}" style="color: #e16400">Rechercher un logement </a></li>
        <li><a href="{{ path('fos_user_profile_show') }}" style="color: #e16400">Profil</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                <h text-align: left>Se deconnecter</h>
            </a></li>

    </ul>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                <p>Step 1</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p>Step 2</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p>Step 3</p>
            </div>
        </div>
    </div>
    {{ form_start(edit_form) }}
    <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-12">
                <h3> Step 1</h3>
                <div class="form-group">
                    <div class="form-group">
                        <h2 style="color: #e74802">De quel type de logement s'agit-il ?</h2>
                        <div style="color: #040949;">
                            {{ form_label(edit_form.typeChambre,'Quel type de logement auront les voyageurs ?' ) }}</div>
                        {{ form_widget(edit_form.typeChambre,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.typeChambre) }}
                    </div>


                    <div class="form-group">
                        <div style="color:  #040949;">
                            {{ form_label(edit_form.nbVoyageur,'Combien de voyageurs pouvez-vous accueillir dans votre logement ?' ) }}</div>
                        {{ form_widget(edit_form.nbVoyageur,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.nbVoyageur) }}
                    </div>


                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_label(edit_form.typeHabitation,'Quel genre d habitation proposez-vous ?' ) }}</div>
                        {{ form_widget(edit_form.typeHabitation,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.typeHabitation) }}
                    </div>
                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_label(edit_form.titre,'Ajouter un titre' ) }}</div>
                        {{ form_widget(edit_form.titre,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.titre) }}
                    </div>

                    <input type="text" name="addresspicker" id="addresspicker" value="{{ x }}" style="width:300px; "/>
                    <br/>
                    <input type="hidden" name="latlng" id="latlng" value="{{ y }}"
                           placeholder="coordonées"
                           readonly="readonly">
                    <input type="text" name="adressgmap" id="adressgmap" style="width:600px;"
                           placeholder="adresse complète"
                           readonly="readonly"/>
                    <br/>
                    <input type="text" name="rue" id="rue" placeholder="rue" readonly="readonly"/>
                    <input type="text" name="ville" id="ville" placeholder="ville" readonly="readonly"/>
                    <input type="text" name="cp" id="cp" placeholder="code postal" readonly="readonly"/>
                    <input type="text" name="dept" id="dept" placeholder="département" readonly="readonly"/>
                    <input type="text" name="region" id="region" placeholder="région" readonly="readonly"/>
                    <input type="text" name="pays" id="pays" placeholder="pays" readonly="readonly"/>
                    <br>
                    </br>
                    <h3 style="color: #040949">Déplacez le repère pour indiquer votre localisation.</h3>
                    <div id="map_canvas"></div>
                    <br>
                </div>
                <br/>
                <br>
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12">
                <div class="form-group">
                    <h3> Step 2</h3>
                    <div class="form-group">
                        <div style="color: #e74802;">
                            {{ form_label(edit_form.nbLit,'Combien de lits les voyageurs peuvent-ils utiliser ?' ) }}</div>
                        {{ form_widget(edit_form.nbLit,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.nbLit) }}
                    </div>

                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_label(edit_form.typeLit,'Type des lits :' ) }}</div>
                        {{ form_widget(edit_form.typeLit,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.typeLit) }}
                    </div>

                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_label(edit_form.nbSallebain,'Combien de salles de bain ?' ) }}</div>
                        {{ form_widget(edit_form.nbSallebain,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.nbSallebain) }}
                    </div>
                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_label(edit_form.typeSb,'Acceés au salle de bain :' ) }}</div>
                        {{ form_widget(edit_form.typeSb,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.typeSb) }}
                    </div>

                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_label(edit_form.equipement,'Quels équipements proposez-vous ?' ) }}</div>
                        {{ form_widget(edit_form.equipement) }}
                    </div>


                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_label(edit_form.espaceUtilise,'Quels espaces les voyageurs peuvent-ils utiliser ?' ) }}</div>
                        {{ form_widget(edit_form.espaceUtilise) }}
                    </div>

                </div>
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12">
                <div class="form-group">
                    <h3> Step 3</h3>
                    <h3 style="color: #9C9C9C">ÉTAPE 4</h3>
                    <h2 style="color: #e74802">Ajoutons maintenant quelques informations sur votre logement pour
                        que vous puissiez le mettre en ligne.</h2>
                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_label(edit_form.prix,'Prix par nuit !' ) }}</div>
                        {{ form_widget(edit_form.prix,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.prix) }}
                    </div>
                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_label(edit_form.nbPoints,'Nombre des points par nuit :' ) }}</div>
                        {{ form_widget(edit_form.nbPoints,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.nbPoints) }}

                    </div>
                    <div class="form-group">
                        <h3 style="color: #e74802">Commencez à préparer votre description !! </h3>
                        <div style="color: #040949;">
                            {{ form_label(edit_form.description,'Mon logement est proche de ' ) }}</div>
                        {{ form_widget(edit_form.description,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.description) }}
                    </div>

                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_label(edit_form.note,'Vous aimerez mon logement pour :' ) }}</div>
                        {{ form_widget(edit_form.note,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.note) }}
                    </div>
                    <div style="color: #040949;">
                        {{ form_label(edit_form.dateFin,'votre annonce sera supprimer le  :' ) }}</div>
                    {{ form_widget(edit_form.dateFin) }}
                    {{ form_errors(edit_form.dateFin) }}
                    <br>
                    <h3 style="color: #e74802 "> Montrez votre logement aux voyageurs</h3>
                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_row(edit_form.brochure) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_row(edit_form.brochure1) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_row(edit_form.brochure2) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="color: #040949;">
                            {{ form_row(edit_form.brochure3) }}
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Confirmer" data-toggle="modal"
                           data-target="#confirm-update"/>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}
</div>
<div class="modal fade" id="confirm-update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">confirmation de la modification</h4>
            </div>
            <div class="modal-body">
                <p>Vous êtes sur le point de modifier une annonce</p>
                <p>Voulez-vous poursuivre?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a class="btn btn-danger btn-ok">Confirmer</a>
            </div>
        </div>
    </div>
</div>
<script>
    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
    });
</script>

<script>
    $(document).ready(function () {

        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
    });
</script>

<script>
    //fonction appelé plus bas, ouvre un marqueur et recadre la carte aux coordonnées indiquées pour la cartes donnée
    function traiteAdresse(marker, latLng, infowindow, map) {
        //recadre et zomme sur les coordonnées latLng
        map.setCenter(latLng);
        map.setZoom(17);
        //on stocke nos nouvelles coordonée dans le champs correspondant
        document.getElementById('latlng').value = latLng;
        //on va rechercher les information sur l'adresse correspondant à ces coordonnées
        geocoder.geocode({
            'latLng': latLng
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                    infowindow.setContent(results[0].formatted_address);
                    //on stocke l'adresse complète
                    document.getElementById("adressgmap").value = results[0].formatted_address;
                    var nb_el = results[0].address_components.length;
                    //et ses différentes composantes séparément
                    for (var i = 0; i < nb_el; i++) {
                        if (results[0].address_components[i].types[0] == 'route') {
                            document.getElementById("rue").value = results[0].address_components[i].long_name;//rue
                        }
                        if (results[0].address_components[i].types[0] == 'locality') {
                            document.getElementById("ville").value = results[0].address_components[i].long_name;//ville
                        }
                        if (results[0].address_components[i].types[0] == 'administrative_area_level_2') {
                            document.getElementById("dept").value = results[0].address_components[i].long_name;//dept
                        }
                        if (results[0].address_components[i].types[0] == 'administrative_area_level_1') {
                            document.getElementById("region").value = results[0].address_components[i].long_name;//region
                        }
                        if (results[0].address_components[i].types[0] == 'country') {
                            document.getElementById("pays").value = results[0].address_components[i].long_name;//pays
                        }
                        if (results[0].address_components[i].types[0] == 'postal_code') {
                            document.getElementById("cp").value = results[0].address_components[i].long_name;//cp
                        }
                    }
                    infowindow.open(map, marker);
                } else {
                    alert("No results found");
                }
            } else {
                alert("Geocoder failed due to: " + status);
            }
        });
    }
    //fonction initialisant la carte
    function initialize(zoom, carte) {
        geocoder = new google.maps.Geocoder();
        //par défaut on prend les coordonnées entré dans notre champs latlng
        var latlongdef = document.getElementById('latlng').value;
        latlongdef = latlongdef.split(",");
        var latlng = new google.maps.LatLng(latlongdef[0], latlongdef[1]);
        //on initialise notre carte
        var options = {
            center: latlng,
            zoom: zoom,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById(carte), options);
        //on indique que notre champ addresspicker doit proposer les adresses existantes
        var input = document.getElementById('addresspicker');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        //mise en place du marqueur
        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
            map: map
        });
        //déplacable
        marker.setDraggable(true);
        marker.setPosition(latlng);
        //quand on relache notre marqueur on réinitialise la carte avec les nouvelle coordonnées
        google.maps.event.addListener(marker, 'dragend', function (event) {
            traiteAdresse(marker, event.latLng, infowindow, map);
        });

        //quand on choisie une adresse proposée on réinitialise la carte avec les nouvelles coordonnées
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            infowindow.close();
            var place = autocomplete.getPlace();
            marker.setPosition(place.geometry.location);
            traiteAdresse(marker, place.geometry.location, infowindow, map);
        });
    }
</script>
<script>
    $("form input.date").datepicker();
</script>
<script>$("form input.date").datepicker({
        dateFormat: 'dd/mm/yy',
        firstDay: 1
    }).attr("readonly", "readonly");
</script>

<script>

    $(document).ready(function () {
        //Initialize tooltips
        $('.nav-tabs > li a[title]').tooltip();

        //Wizard
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

            var $target = $(e.target);

            if ($target.parent().hasClass('disabled')) {
                return false;
            }
        });

        $(".next-step").click(function (e) {

            var $active = $('.wizard .nav-tabs li.active');
            $active.next().removeClass('disabled');
            nextTab($active);

        });
        $(".prev-step").click(function (e) {

            var $active = $('.wizard .nav-tabs li.active');
            prevTab($active);

        });
    });

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }
    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').click();
    }


    //according menu

    $(document).ready(function () {
        //Add Inactive Class To All Accordion Headers
        $('.accordion-header').toggleClass('inactive-header');

        //Set The Accordion Content Width
        var contentwidth = $('.accordion-header').width();
        $('.accordion-content').css({});

        //Open The First Accordion Section When Page Loads
        $('.accordion-header').first().toggleClass('active-header').toggleClass('inactive-header');
        $('.accordion-content').first().slideDown().toggleClass('open-content');

        // The Accordion Effect
        $('.accordion-header').click(function () {
            if ($(this).is('.inactive-header')) {
                $('.active-header').toggleClass('active-header').toggleClass('inactive-header').next().slideToggle().toggleClass('open-content');
                $(this).toggleClass('active-header').toggleClass('inactive-header');
                $(this).next().slideToggle().toggleClass('open-content');
            }

            else {
                $(this).toggleClass('active-header').toggleClass('inactive-header');
                $(this).next().slideToggle().toggleClass('open-content');
            }
        });

        return false;
    });
</script>
</body>
</html>

