<style>
    body {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #e3e3e3;
    }

    .carousel {
        height: 500px;
        margin-bottom: 60px;
    }
    .carousel .item {
        height: 500px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
    }
    .search {
        margin-top: -25%;
    }
    .search .form-section{
        background:rgba(204, 204, 204, 0.23);
        border: 2px solid rgba(65, 65, 65, 0.04);
        border-radius: 5px;
        padding: 10px;
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }
    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    .modal-body {padding: 2px 16px;}

    .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    @import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
    .panel-image {
        position: relative;
    }

    .panel-image img.panel-image-preview {
        width: 100%;
        border-radius: 4px 4px 0px 0px;
    }

    .panel-image label {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 50%;
        width: 50%;
    }

    .panel-heading ~ .panel-image img.panel-image-preview {
        border-radius: 0px;
    }

    .panel-body {
        overflow: hidden;
    }

    .panel-image ~ input[type=checkbox] {
        position: absolute;
        top: 30px;
        z-index: -1;
    }

    .panel-image ~ input[type=checkbox] ~ .panel-body {
        height: 0px;
        padding: 0px;
    }

    .panel-image ~ input[type=checkbox]:checked ~ .panel-body {
        height: auto;
        padding: 15px;
    }

    .panel-image ~ .panel-footer a {
        padding: 0px 50px;
        font-size: 1.3em;
        color: rgb(100, 100, 100);
    }

    .btn {
        padding: 14px 24px;
        border: 0 none;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: 0 none;
    }

    .btn-primary {
        background: #f8690d;
        color: #ffffff;
    }

    .btn-lg.round {
        border-radius: 24px;
    }


</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}" />

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}" />

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control{-webkit-border-radius: 0 !important;-moz-border-radius: 0; border-radius: 0;}.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; color: #9212fd}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;} .bootstrap-iso .btn-custom{background: #9212fd} .bootstrap-iso .btn-custom:hover{background: #7e00e9;}.bootstrap-iso .form-control:focus { border-color: #9212fd;  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);} .asteriskField{color: red;}.bootstrap-iso form .input-group-addon {color:#555555; background-color: #eeeeee; border-radius: 0px; padding-left:12px}</style>
    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    {% for flashMessage in app.session.flashbag.get('notice1') %}

        <div class="alert alert-danger ">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png')}}" alt="" class="img-responsive img-rounded"></div>
    <ul class="nav navbar-nav" background : rgba(34, 34, 34, 0.1)>
        <li><a href="{{ path('layout')}}" style="color: #e16400">Accueil</a></li>
        <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un hébergeur </a>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" style="color: #e16400">
                <h text-align: left>{{ app.user.username }} </h>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('mesLogement',{ id: app.user.id }) }}">Mes logements</a></li>
                <li><a href=" {{ path('fos_user_profile_show') }}">Profile</a></li>
            </ul>
        </li>
        <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                <h text-align: left>Se deconnecter</h>
            </a></li>
    </ul>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ asset('template/images/__Battersea_Listing_Host_Greeting_0080_HR1_Full.jpg') }}" alt="First slide">
        </div>
        <div class="item">
            <img src="{{ asset ('template/images/Airbnb-Etiquette-TIPS0316.jpg') }}" alt="Second slide">
        </div>
        <div class="item">
            <img src="{{ asset('template/images/guest-expectations-feature.jpg')}}" alt="Third slide">
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left	"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="search">
    <div class="bootstrap-iso">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-section">
                        <div class="row">
                            <form action="{{ path('logement_index') }}" method="post">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="sr-only" for="location">Destination</label>
                                        <input type="search" list="datalist" class="form-control" id="location"
                                               placeholder="destination" name="motcle">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </div>
                                            <input class="form-control" name="date" placeholder="MM/DD/YYYY"
                                                   type="date"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="sr-only" for="guest">Voyageur</label>
                                        <select id="guest" name="guest" class="form-control">
                                            <option value="0"/>
                                            <option value="1">1 Guest</option>
                                            <option value="2">2 Guests</option>
                                            <option value="3">3 Guests</option>
                                            <option value="4">4 Guests</option>
                                            <option value="5">5 Guests</option>
                                            <option value="6">6 Guests</option>
                                            <option value="7">7 Guests</option>
                                            <option value="8">8 Guests</option>
                                            <option value="9">9 Guests</option>
                                            <option value="10">10 Guests</option>
                                            <option value="11">11 Guests</option>
                                            <option value="12">12 Guests</option>
                                            <option value="13">13 Guests</option>
                                            <option value="14">14 Guests</option>
                                            <option value="15">15 Guests</option>
                                            <option value="16">16+ Guests</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <input type="submit" class="btn btn-primary" value="rechecher" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="featured-jobs">
    <div class="container">
        {% for logement in logements %}

            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <img width="348" height="348" src="{{ asset('uploads/brochures/' ~ logement.brochure) }}"
                             alt="Third slide">
                        <label for="toggle-4"></label>
                    </div>
                    <input type="checkbox" id="toggle-4" checked class="panel-image-toggle">
                    <div class="panel-body">
                        <h4 style="text-align: center ;color: #2d2c65">{{ logement.region }}</h4>
                        <h4 style="text-align: center ;color: #2d2c65">{{ logement.pays }}</h4>
                        <p>chez {{ logement.proprietaire.username }}, contacter moi</p>
                        <span class="meta">Posté par {{ logement.proprietaire.username }} {{ 'now' | date }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<section>
    <div class="navigation text-center">
        {{ knp_pagination_render(logements) }}
    </div>
</section>
</body>
<footer>

</footer>

<script type="text/javascript" src="{{ asset('https://code.jquery.com/jquery-1.11.3.min.js') }}"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css') }}"/>

<script src="{{ asset('template/js/jquery.min.js')}}"></script>
<script src="{{ asset('template/js/jquery-ui.min.js')}}"></script>
<script src="{{ asset('template/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('template/js/jquery.parallax.js')}}"></script>
<!-- template mo config script -->
<script src="{{ asset('template/js/templatemo_scripts.js')}}"></script>
