<style>

    #map_canvas {
        height: 500px;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;

    }
    .carousel {
        height: 500px;
        margin-bottom: 60px;
    }
    .carousel .item {
        height: 500px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
    }
    .search {
        margin-top: -25%;
    }
    .search .form-section{
        background:rgba(204, 204, 204, 0.23);
        border: 2px solid rgba(65, 65, 65, 0.04);
        border-radius: 5px;
        padding: 10px;
    }
    .featured-jobs {
        padding: 70px 0px;
        background: #222222;
    }
    .featured-jobs .thumbnail {
        padding: 20px;
    }
    .featured-jobs .thumbnail img {
        float: left;
        margin: 0 10px 10px 0;
    }
    .featured-jobs .thumbnail .feature-link {
        color: #77c7dc;
    }
    .featured-jobs .thumbnail .feature-link h3 {
        padding-left: 10px;
        margin: 0 0 6px;
        font-size: 18px;
    }
    .featured-jobs .thumbnail .meta {
        color: #f16060;
        font-size: 11px;
    }
    .featured-jobs .thumbnail p {
        font-size: 12px;
        margin: 0 0 5px;
    }
    .featured-jobs .thumbnail .feature-btns {
        position: absolute;
        bottom: -13px;
        left: 15px;
    }

    #menu-demo2, #menu-demo2 ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
    }

    #menu-demo2 li {
        display: inline-block;
        position: relative;
        border-radius: 8px 8px 0 0;
    }

    #menu-demo2 ul li {
        display: inherit;
        border-radius: 0;
    }

    #menu-demo2 ul li:hover {
        border-radius: 0;
    }

    #menu-demo2 ul li:last-child {
        border-radius: 0 0 8px 8px;
    }

    #menu-demo2 ul {
        position: absolute;
        z-index: 1000;
        max-height: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        -moz-transition: .8s all .3s;
        -webkit-transition: .8s all .3s;
        transition: .8s all .3s;
    }

    #menu-demo2 li:hover ul {
        max-height: 15em;
    }

    /* background des liens menus */
    #menu-demo2 li:first-child {
        background-color: #65537A;
        background-image: -webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
        background-image: linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
    }

    #menu-demo2 li:nth-child(2) {
        background-color: #729EBF;
        background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
        background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    }

    #menu-demo2 li:nth-child(3) {
        background-color: #F6AD1A;
        background-image: -webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
        background-image: linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
    }

    #menu-demo2 li:last-child {
        background-color: #424242;
        background-image: -webkit-linear-gradient(top, #424242 0%, #232323 100%);
        background-image: linear-gradient(to bottom, #424242 0%, #232323 100%);
    }

    /* background des liens sous menus */
    #menu-demo2 li:first-child li {
        background: #2A2333;
    }

    #menu-demo2 li:nth-child(2) li {
        background: #333A40;
    }

    #menu-demo2 li:nth-child(3) li {
        background: #9F391A;
    }

    #menu-demo2 li:last-child li {
        background: #646464;
    }

    /* background des liens menus et sous menus au survol */
    #menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover {
        background: #65537A;
    }

    #menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover {
        background: #729EBF;
    }

    #menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover {
        background: #F6AD1A;
    }

    #menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover {
        background: #CFFF6A;
    }

    /* les a href */
    #menu-demo2 a {
        text-decoration: none;
        display: block;
        padding: 8px 32px;
        color: #fff;
        font-family: arial;
    }

    #menu-demo2 ul a {
        padding: 8px 0;
    }

    #menu-demo2 li:hover li a {
        color: #fff;
        text-transform: inherit;
    }

    #menu-demo2 li:hover a, #menu-demo2 li li:hover a {
        color: #000;
    }


    .res1 {
        padding-right: 100px;
        width: 100px;
    }

    .res {
        padding-right: 100px;
        width: 100px;
        padding-left: 0px;
    }

</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Landing Page</title>

    <script type="text/javascript"
            src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyBA4yOOp_FvJR3FQDGH-Ulm637C45dXmqo&sensor=false&libraries=places') }}">
    </script>
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/bootstrap-iso16.css') }}" />

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="{{ asset('https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css') }}" />

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .form-group button, .bootstrap-iso form input.form-control, .bootstrap-iso form textarea.form-control, .bootstrap-iso form select.form-control{-webkit-border-radius: 0 !important;-moz-border-radius: 0; border-radius: 0;}.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; color: #9212fd}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;} .bootstrap-iso .btn-custom{background: #9212fd} .bootstrap-iso .btn-custom:hover{background: #7e00e9;}.bootstrap-iso .form-control:focus { border-color: #9212fd;  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(146, 18, 253, 0.6);} .asteriskField{color: red;}.bootstrap-iso form .input-group-addon {color:#555555; background-color: #eeeeee; border-radius: 0px; padding-left:12px}</style>
    <!-- CSS -->

    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}"></script>
    <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset ('template/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body onload="initialize(11, 'map_canvas')">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png')}}" alt="" class="img-responsive img-rounded"></div>
    <ul class="nav navbar-nav" background : rgba(34, 34, 34, 0.1)>
        <li><a href="{{ path('logement_index') }}" style="color: #e16400">Accueil</a></li>
        <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un hébergeur </a></li>
        <li><a href="{{ path('logement_index')}}" style="color: #e16400">Rechercher un logement </a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" style="color: #e16400">
                <h text-align: left>{{ app.user.username }} </h>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('mesLogement',{ id: app.user.id }) }}">Mes logements</a></li>
                <li><a href=" {{ path('fos_user_profile_show') }}">Profile</a></li>
            </ul>
        </li>
        <li><a href="{{ path('fos_user_security_logout')}}" style="color: #e16400"><h text-align: left>Se deconnecter </h></a></li>
    </ul>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ asset('uploads/brochures/' ~ logement.brochure) }}" alt="First slide">
        </div>
        <div class="item">
            <img src="{{ asset('uploads/brochures/' ~ logement.brochure1) }}" alt="Second slide">
        </div>
        <div class="item">
            <img src="{{ asset('uploads/brochures/' ~ logement.brochure2) }}" alt="Third slide">
        </div>
        <div class="item">
            <img src="{{ asset('uploads/brochures/' ~ logement.brochure3) }}" alt="Third slide">
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left	"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="navbar-fixed-bottom">
<ul id="menu-demo2">
    <li><a href="#presentation">Présentation</a>
    </li>
    <li><a href="#commentaire">Commentaire</a>
    </li>
    <li><a href="#contact">L'hôte</a>
    </li>
    <li><a href="#emplacement">Emplacement</a>
    </li>
</ul>
</div>
<section id="presentation">
    <div class="container" style="background-color: rgba(252, 248, 227, 0.66);">
        <div>
            <h2 style="color: #040949">{{ logement.titre }}</h2>
            <h4 style="color: #9C9C9C">{{ logement.adressgmap }}</h4>
            <table align="center">
                <tr>
                    <td class="res1"><img src="{{ asset('template/images/Handshake-50.png') }}">
                    </td>
                    <td class="res1"><img src="{{ asset('template/images/Bed-50.png') }}"></td>
                    <td class="res1"><img src="{{ asset('template/images/Roofing-52.png') }}"></td>
                </tr>
                <tr>
                    <td class="res">{{ logement.nbVoyageur }} voyageurs</td>
                    <td class="res">{{ logement.typeChambre }}</td>
                    <td class="res">{{ logement.typeHabitation }}</td>
                </tr>
            </table>

            <hr/>
        </div>
        <div>
            <h1 style="color: #040949">À propos de ce logement</h1>
            <div class="col-md-8">{{ logement.note }}
                <br>
                <a href="#contact" style="color:#C62600"><strong>Contacter l'hôte</strong></a>
                <br>
            </div>
        </div>
        <br>
        <br>
        <br>
        <hr/>
        <div class="col-md-6">
            <h3 style="color: #040949">Le logement</h3>
            <ul>
                Capacité d'accueil : <strong>{{ logement.nbVoyageur }}</strong><br>
                Chambres : <strong>{{ logement.typeChambre }}</strong><br>
                Type de propriété : <strong>{{ logement.typeHabitation }}</strong><br>

            </ul>
        </div>
        <div>
            <br>
            <br>
            <br>
            Lits : <strong>{{ logement.nbLit }} lits</strong><br>
            Type de lit :<strong>{{ logement.typeLit }}</strong> <br>
            Salles de bain : <strong>{{ logement.nbSallebain }}</strong> salles de bains<br>
            Salles de bain : <strong>{{ logement.typeSb }}</strong><br>
            <br>
            <br>
        </div>
        <hr/>
        <div class="col-md-12">
        <div class="col-md-6">
            <h3 style="color: #040949">Équipements</h3>
            <ul>
            <tr>
                {% for e in logement.equipement %}
                    <td>{{ e }}</td><br>
                {% endfor %}
            </tr>
            </ul>
        </div>
            <div class="col-md-6">
                <h3 style="color: #040949">Espace</h3>
                <ul>
                    <tr>
                        {% for e in logement.espaceUtilise %}
                            <td>{{ e }}</td><br>
                        {% endfor %}
                    </tr>
                </ul>
            </div>
        </div>

        <br>

        <div class="col-md-12">
            <hr/>

            <div class="col-md-6">
                <h3 style="color:#040949">Prix</h3>
                <ul>
                    Nombre de point par nuit : <strong>{{ logement.nbPoints }} Points </strong><br>
                    Prix par nuit : <strong>{{ logement.prix }} Euro</strong>
                </ul>
        </div>
            <div class="col-md-6">
                <h3 style="color: #040949">Description</h3>
                <ul>
                    {{ logement.description }}
                </ul>
            </div>
        </div>
    </div>
</section>
<br>
<section id="emplacement">
    <div class="container" style="background-color: rgba(252, 248, 227, 0.66);">
        <h2 style="color: #040949">Emplacement</h2>
        <div><strong>{{ logement.adressgmap }}</strong></div>
        <div class="col-md-6" id="map_canvas">
            <input type="hidden" name="latlng" id="latlng" value="{{ logement.latlng }}" placeholder="coordonées"
                   readonly="readonly">
        </div>
    </div>
</section>
<br>
<section id="commentaire">
    <div class="container" style="background-color: rgba(252, 248, 227, 0.66);">
        <div class="col-md-8">
            <div class="col-md-6">
                <h3 style="color: #040949">Commentaires</h3>
                <dl>
                    <dt>Anna Biwao</dt>
                    <dd>Tres satisfait , personne tres serviable , villa reservé en derniere minute pour quelques heures plutard, un Grand merci La villa tres jolie mais un peu eloigné de vie nocturne . Ideal pour du repos .</dd>
                </dl>
                <dl>
                    <dt>Aline</dt>
                    <dd>Idealement situe a rawai.
                        La piscine est grand et propre (nettoyee tous les matins).
                        A notre arrivee, accueuil sympatique de Mr Nok. Tout au long du sejour, au moindre de doute sur quoique se soit Mr Nok reste a lecoute.</dd>
                </dl>
            </div>
            <form action="#" method="POST" class="col-xs-12 row" role="form">
                <div class="form-group">
                    <label for="email">Ajouter un commentaire</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                            <textarea name="message" class="form-control" id="contact-message" placeholder="Message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Publier</button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
<script>
    $(document).ready(function(
    ){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
<script>
    //fonction appelé plus bas, ouvre un marqueur et recadre la carte aux coordonnées indiquées pour la cartes donnée
    function traiteAdresse(marker, latLng, infowindow, map) {
        //recadre et zomme sur les coordonnées latLng
        map.setCenter(latLng);
        map.setZoom(10);
        //on stocke nos nouvelles coordonée dans le champs correspondant
        document.getElementById('latlng').value = latLng;
        //on va rechercher les information sur l'adresse correspondant à ces coordonnées
        geocoder.geocode({
            'latLng': latLng
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                    infowindow.setContent(results[0].formatted_address);
                    //on stocke l'adresse complète
                    document.getElementById("adressgmap").value = results[0].formatted_address;
                    var nb_el = results[0].address_components.length;
                    //et ses différentes composantes séparément
                    for (var i = 0; i < nb_el; i++) {
                        if (results[0].address_components[i].types[0] == 'route') {
                            document.getElementById("rue").value = results[0].address_components[i].long_name;//rue
                        }
                        if (results[0].address_components[i].types[0] == 'locality') {
                            document.getElementById("ville").value = results[0].address_components[i].long_name;//ville
                        }
                        if (results[0].address_components[i].types[0] == 'administrative_area_level_2') {
                            document.getElementById("dept").value = results[0].address_components[i].long_name;//dept
                        }
                        if (results[0].address_components[i].types[0] == 'administrative_area_level_1') {
                            document.getElementById("region").value = results[0].address_components[i].long_name;//region
                        }
                        if (results[0].address_components[i].types[0] == 'country') {
                            document.getElementById("pays").value = results[0].address_components[i].long_name;//pays
                        }
                        if (results[0].address_components[i].types[0] == 'postal_code') {
                            document.getElementById("cp").value = results[0].address_components[i].long_name;//cp
                        }
                    }
                    infowindow.open(map, marker);
                } else {
                    alert("No results found");
                }
            } else {
                alert("Geocoder failed due to: " + status);
            }
        });
    }
    //fonction initialisant la carte
    function initialize(zoom, carte) {
        geocoder = new google.maps.Geocoder();
        //par défaut on prend les coordonnées entré dans notre champs latlng
        var latlongdef = document.getElementById('latlng').value;
        latlongdef = latlongdef.split(",");
        var latlng = new google.maps.LatLng(latlongdef[0], latlongdef[1]);
        //on initialise notre carte
        var options = {
            center: latlng,
            zoom: zoom,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById(carte), options);
        //on indique que notre champ addresspicker doit proposer les adresses existantes
        var input = document.getElementById('addresspicker');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        //mise en place du marqueur
        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
            map: map
        });
        //déplacable
        marker.setDraggable(true);
        marker.setPosition(latlng);
        //quand on relache notre marqueur on réinitialise la carte avec les nouvelle coordonnées
        google.maps.event.addListener(marker, 'dragend', function (event) {
            traiteAdresse(marker, event.latLng, infowindow, map);
        });

        //quand on choisie une adresse proposée on réinitialise la carte avec les nouvelles coordonnées
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            infowindow.close();
            var place = autocomplete.getPlace();
            marker.setPosition(place.geometry.location);
            traiteAdresse(marker, place.geometry.location, infowindow, map);
        });
    }
</script>
<!-- Contact -->
<section id="contact">
    <hr/>
    <div class="container" style="background-color: rgba(252, 248, 227, 0.66);">
        <div class="row">
            <div class="col-sm-12">
                <header class="template_header">
                    <h1 class="text-center" style="color: #040949"><span>...</span> Contacter Hôte <span>...</span></h1>
                </header>
                <div>
                    <dl class="dl-horizontal">
                        <dt style="color: #C82829">Zokson</dt>
                        <dd>Ljubljana, Slovénie · Membre depuis janvier 2014</dd>
                        <p>I travel all around the world, studied economics, like all kinds of sports, nature, good food and good wine. Love labradors , the Alp mountains !
                            (and my wife - of course !)</p>
                    </dl>
                </div>

            </div>
        </div>
        <form role="form" action="#" method="post">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" name="name" class="form-control" id="contact-name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-at"></i></div>
                    <input type="text" name="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                    <textarea name="message" class="form-control" id="contact-message" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-xs-offset-6">
                    <button type="submit" class="form-control">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="{{ asset('https://code.jquery.com/jquery-1.11.3.min.js') }}"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css') }}"/>

<script src="{{ asset('template/js/jquery.min.js')}}"></script>
<script src="{{ asset('template/js/jquery-ui.min.js')}}"></script>
<script src="{{ asset('template/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('template/js/jquery.parallax.js')}}"></script>
<!-- template mo config script -->
<script src="{{ asset('template/js/templatemo_scripts.js')}}"></script>
</body>
