<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}"/>

    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
</head>
<body>
<div class="navbar navbar-inverse">

    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png') }}" alt=""

                               class="img-responsive img-rounded"></div>

    <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>

        <li><a href="{{ path('layout') }}" style="color: #e16400">Accueil</a></li>

        <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un hébergeur </a>
        </li>
        <li><a href="{{ path('fos_user_profile_show') }}" style="color: #e16400">
                <h text-align: left>{{ app.user.username }} </h>
            </a></li>
        <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                <h text-align: left>Se deconnecter</h>
            </a></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h1><i> Decrivez votre Sejour </i></h1></div>
                <div class="panel-body">

                    {% block body %}


                        {{ form_start(form) }}
                        {{ form_widget(form) }}


                        {{ form_end(form) }}

                        <ul>
                            <li>
                                <a href="{{ path('sejour_index') }}">Back to the list</a>
                            </li>
                        </ul>
                    {% endblock %}


                </div>
            </div>

        </div>

    </div>
</div>
</div>
</body>
</html>