<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <script src="{{ asset('template/js/jquery.min.js') }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}"/>

    <link rel="stylesheet" href="{{ asset ('template/css/font-awesome.min.css') }}"/>


</head>
<body>
<div class="navbar navbar-inverse">

    <div class="col-xs-6"><img style="max-width: 10%" src="{{ asset('template/images/oumayma_pins.png') }}" alt=""

                               class="img-responsive img-rounded"></div>

    <ul class="nav navbar-nav" backgroun : rgba(34, 34, 34, 0.1)>

        <li><a href="{{ path('layout') }}" style="color: #e16400">Accueil</a></li>

        <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un hébergeur </a>
        </li>
        <li><a href="{{ path('fos_user_profile_show') }}" style="color: #e16400">
                <h text-align: left>{{ app.user.username }} </h>
            </a></li>
        <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                <h text-align: left>Se deconnecter</h>
            </a></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h1><i> {{ sejour.titre }} </i></h1></div>
                <div class="panel-body">

                    <body>


                    {% block body %}





                        <div><h3>Date</h3>
                            <h5>{% if sejour.Date %}{{ sejour.Date|date('Y-m-d') }}{% endif %}</h5></div>
                        <div>
                            <h2>{{ sejour.messageSej }}</h2></div>

                        <div><img style="max-width: 80% ; align-self: center"
                                  src="{{ asset('uploads/picture/' ~ sejour.picture) }}" alt="Third slide"></div>

                        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}


                        <ul>

                            <li>
                                <a href="{{ path('sejour_edit', { 'id': sejour.idSej }) }}">Edit</a>
                            </li>
                            <li><a href="{{ path('sejour_index') }}">Back to the list</a></li>

                            <li>
                                {{ form_start(delete_form) }}
                                <input type="submit" value="Delete">
                                {{ form_end(delete_form) }}
                            </li>
                        </ul>


                    {% endblock %}
                    </body>


                </div>
            </div>

        </div>

    </div>
</div>
</div>
</body>
</html>