{{ form_start(form, {'method': 'post', 'action': path('acme_confimez_reservation'), 'attr': {'class': 'acme_confimez_reservation'}}) }}
<div class="Optional_group">
    <p>

        {{ form_label(form.id,'Merci d introduire le numéro de votre réservation :') }}
        {{ form_widget(form.id,{'attr':{'class': 'text'}}) }}
    </p>
    <p>
        {{ form_label(form.motdepasse,'Mot de passe :') }}
        {{ form_widget(form.motdepasse,{'attr':{'class': 'text'}}) }}

    </p>
    <div class="grid_3">


        <input type="submit" class="submit" id="submit" name="_submit" value="Confirmez Votre réservation"/>

    </div>


</div>
{{ form_end(form) }}