<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/960.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/reset.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/text.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/green.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/css/alertify.core.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/jquery.multiselect.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/jquery.multiselect.filter.css') }}"/>
    <link type="text/css" href="{{ asset('bundles/css/smoothness/ui.css" rel="stylesheet') }}"/>


    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/jquery-ui.css') }}"/>

    <script type="text/javascript" src="{{ asset('bundles/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery.multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery.multiselect.filter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/alertify.min.js') }}"></script>
    <SCRIPT type="text/javascript" src="{{ asset('bundles/js/jquery.dragndrop.min.js') }}"></SCRIPT>

    <style type="text/css">

        .submit {
            width: 200px;
            height: 35px;
            background: rgba(204, 204, 204, 0.22);
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;

        }
        .headern {
            background-color: #222;
            height: 60px;

        }

        fieldset {
            border: solid 1px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            padding: 5px;
        }

        legend {

        }

        .Mandatory_group {
            margin: 0 auto;

        }

        .Mandatory_group input[type=text] {
            width: 70%;
            height: 50%;
            border: 1px solid #222;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
            border-radius: 0.3em;

        }

        .Optional_group input[type=text] {
            width: 70%;
            height: 50%;
            border: 1px solid #222;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
            border-radius: 0.3em;

        }

        .button_ok {
            margin: 0px;
            padding: 0px !important;
            border: 0px;
            background: transparent url({{ asset ('bundles/images/but_round_span_blue.gif') }}) no-repeat scroll top right;
            color: #344704;
            display: block;
            float: left;
            height: 30px;
            margin-right: 6px;

            padding-right: 15px !important;
            text-decoration: none;
            overflow: hidden;
            font-size: 12px;

            cursor: pointer;
            font-weight: bold;
        }

        .button_ok span {
            background: url({{ asset ('bundles/images/but_round_ok_blue.gif') }}) no-repeat left top;
            display: block;
            line-height: 30px;
            padding: 0px 0px 0px 35px;

            float: left;
        }

        .button_ok:hover {
            background-position: right bottom;
            text-decoration: none !important
        }

        .button_ok:hover span {
            background-position: left bottom;
            color: #344704;
        }

        .button_final {
            margin: 0px;
            padding: 0px !important;
            border: 0px;
            background: transparent url({{ asset ('bundles/images/but_round_span_blue.gif') }}) no-repeat scroll top right;
            color: #344704;
            display: block;
            float: left;
            height: 30px;
            margin-right: 6px;

            padding-right: 15px !important;
            text-decoration: none;
            overflow: hidden;
            font-size: 12px;

            cursor: pointer;
            font-weight: bold;
        }

        .button_final span {
            background: url({{ asset ('bundles/images/but_round_ok_blue.gif') }}) no-repeat left top;
            display: block;
            line-height: 30px;
            padding: 0px 0px 0px 35px;

            float: left;
        }

        .button_final:hover {
            background-position: right bottom;
            text-decoration: none !important
        }

        .button_final:hover span {
            background-position: left bottom;
            color: #344704;
        }

        .circle {
            background-color: rgba(0, 0, 0, 0);
            border: 5px solid rgba(0, 183, 229, 0.9);
            opacity: .9;
            border-right: 5px solid rgba(0, 0, 0, 0);
            border-left: 5px solid rgba(0, 0, 0, 0);
            border-radius: 50px;
            box-shadow: 0 0 35px #2187e7;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            -moz-animation: spinPulse 1s infinite ease-in-out;
            -webkit-animation: spinPulse 1s infinite linear;
        }

        .circle1 {
            background-color: rgba(0, 0, 0, 0);
            border: 5px solid rgba(0, 183, 229, 0.9);
            opacity: .9;
            border-left: 5px solid rgba(0, 0, 0, 0);
            border-right: 5px solid rgba(0, 0, 0, 0);
            border-radius: 50px;
            box-shadow: 0 0 15px #2187e7;
            width: 30px;
            height: 30px;
            margin: 0 auto;
            position: relative;
            top: -50px;
            -moz-animation: spinoffPulse 1s infinite linear;
            -webkit-animation: spinoffPulse 1s infinite linear;
        }

        @-moz-keyframes spinPulse {
            0% {
                -moz-transform: rotate(160deg);
                opacity: 0;
                box-shadow: 0 0 1px #2187e7;
            }
            50% {
                -moz-transform: rotate(145deg);
                opacity: 1;
            }
            100% {
                -moz-transform: rotate(-320deg);
                opacity: 0;
            }
        }

        @-moz-keyframes spinoffPulse {
            0% {
                -moz-transform: rotate(0deg);
            }
            100% {
                -moz-transform: rotate(360deg);
            }
        }

        @-webkit-keyframes spinPulse {
            0% {
                -webkit-transform: rotate(160deg);
                opacity: 0;
                box-shadow: 0 0 1px #2187e7;
            }
            50% {
                -webkit-transform: rotate(145deg);
                opacity: 1;
            }
            100% {
                -webkit-transform: rotate(-320deg);
                opacity: 0;
            }
        }

        @-webkit-keyframes spinoffPulse {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        .stop {
            -webkit-animation-play-state: paused;
            -moz-animation-play-state: paused;
        }

        .alertify-log-custom {
            background: blue;
        }

        strong {
            font-weight: bold;
            color: #003580;
        }

        #multiselect {

            width: 40%;
            height: 50%;
        }

        .zoom {
            height: 400px;
            margin: auto;
        }

        .zoom p {
            text-align: center;
        }

        .zoom img {
            width: 300px;
            height: 225px;
        }

        .zoom img:hover {
            width: 400px;
            height: 300px;
        }

        body {

            background: rgba(0, 183, 229, 0.04);

        }

        ul.topnav {

            list-style-type: none;
            margin: 8px;
            padding: 0;
            overflow: hidden;
            background-color: #222;
            float: right;
        }

        ul.topnav li {
            display: inline-block;
            list-style-type: none;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
        }

        ul.topnav li a {
            color: #f2f2f2;
            display: block;

            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;

        }

        ul.topnav > li > a > .caret {
            border-top: 4px solid #aaa;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            content: "";
            display: inline-block;
            height: 0;
            width: 0;
            vertical-align: middle;

            -webkit-transition: color 0.1s linear;
            -moz-transition: color 0.1s linear;
            -o-transition: color 0.1s linear;
            transition: color 0.1s linear;
        }

        ul.topnav > li:hover {
            background-color: rgb(40, 44, 47);
        }

        ul.topnav > li:hover > a {
            color: rgb(255, 255, 255);
        }

        ul.topnav > li:hover > a > .caret {
            border-top-color: rgb(255, 255, 255);
        }

        ul.topnav > li > div {
            background-color: rgb(40, 44, 47);
            border-top: 0;
            border-radius: 0 0 4px 4px;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
            display: none;
            margin: 0;
            opacity: 0;
            position: absolute;
            width: 165px;
            visibility: hidden;
            z-index: 100;

            -webkit-transiton: opacity 0.2s;
            -moz-transition: opacity 0.2s;
            -ms-transition: opacity 0.2s;
            -o-transition: opacity 0.2s;
            -transition: opacity 0.2s;
        }

        ul.topnav > li > div ul > li {
            display: block;
        }

        ul.topnav > li > div ul > li > a {
            color: #fff;
            display: block;
            padding: 12px 24px;
            text-decoration: none;
        }

        ul.topnav > li > div ul > li:hover > a {
            background-color: rgba(255, 255, 255, 0.1);
        }

        ul.topnav > li:hover > div {
            display: block;
            opacity: 1;
            visibility: visible;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {


        });
    </script>
</head>
<body>
<header class="headern">
    <div><img style="width:55px; height:55px;" src="{{ asset('bundles/images/oumayma_pins.png') }}">
        <ul class="topnav" backgroun : rgba(34, 34, 34, 0.1)>
            <li><a href="{{ path('layout') }}" style="color: #e16400">Accueil</a></li>
            <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un
                    hébergeur </a></li>
            <li><a href="{{ path('fos_user_profile_show') }}" style="color: #e16400">
                    <h text-align: left>{{ app.user.username }} </h>
                </a></li>
            <li><a href="{{ path('hostguest_management') }}" style="color: #e16400">Réservation <span
                            class="caret"></span></a>
                <div>
                    <ul>
                        {% if  app.user.username =="admin" %}
                            <li><a href="{{ path('hostguest_purge') }}" style="color: #e16400">Purge</a></li>
                            <li><a href="{{ path('hostguest_reservation_list') }}" style="color: #e16400">Lister les
                                    réservation</a></li>
                            <li><a href="{{ path('hostguest_management') }}" style="color: #e16400">Management
                                    réservation</a></li>
                        {% else %}
                            <li><a href="{{ path('hostguest_management') }}" style="color: #e16400">Management
                                    réservation</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                    <h text-align: left>Se deconnecter</h>
                </a></li>
        </ul>
    </div>
</header>
<div class="container_16" id="wrapper">
    {{ render_flash_alerts() }}
    <!--RIGHT TEXT/CALENDAR END-->
    <div class="clear">
    </div>
    <div class="grid_16">
        <div class="grid_6">
            <marquee style="width:300px; height:170px;" scrollamount="5" direction="up" onmouseover="this.stop()"
                     onmouseout="this.start()">&nbsp;<img style="width:300px; height:170px;"
                                                          src="{{ asset('uploads/brochures/' ~ logement.brochure) }}"/>
                <br/>
            </marquee>
            </p>
        </div>

        <div class="grid_9">
            <h1 style="color :#003580;">
                {{ logement.typeHabitation }}
            </h1>


            <h2 style="color :#003580;"><img src="{{ asset('bundles/images/Adresse.png') }}"> {{ logement.adressgmap }}
            </h2>
            <h2 style="color :#f07c00;background:rgba(255, 242, 230, 0);"> L'un de nos meilleurs choix
                pour {{ logement.pays }}</h2>

        </div>
    </div>

    <div class="clear">
    </div>
    <div class="clear">
    </div>
    <div class="grid_15" style="padding-left: 10px;right:10px">
        <fieldset style="background: #ffc457">
            <div class="grid_5">
                <Strong>Arrivée</Strong>
                <br>
                <Strong style="color :#003580;">{{ logement.date|date("m/d/Y") }}</Strong>
            </div>
            <div class="grid_5">
                <Strong>Départ</Strong>
                <br>
                <Strong style="color :#003580;">{{ logement.dateFin|date("m/d/Y") }}</Strong>
            </div>
            <div class="grid_4">
                {% set difference = date(logement.dateFin|date('Y/m/d')).diff(date(logement.date|date('Y/m/d'))) %}
                {% set leftDays = difference.days %}
                <Strong>Durée totale du séjour</Strong>
                <br>
                <span style="color :#003580;">{{ leftDays }} jours</span>

            </div>
        </fieldset>
    </div>
    <div class="clear"></div>


    <div class="grid_16">

        <div class="grid_6">
            <fieldset>
                <legend style="font-size: large;">Votre réservation comprend</legend>
                <div class="Mandatory_group">
                    <p>
                        <label id="anno_name">{{ logement.typeHabitation }}</label>

                        <label id="staterule" style="color: rgb(73, 133, 178);"></label>
                    </p>

                    <p>
                        <label for="chambre">Equipement :</label>
                    </p>
                    {% for e in logement.equipement %}
                        <p>
                            <label id="gratuite1" style="color: #0ab21a;">{{ e }}</label>
                        </p>

                    {% endfor %}

                    <p>
                        <label for="chambre">Espace utilise :</label>
                    </p>
                    {% for e in logement.espaceUtilise %}
                        <p>
                            <label id="gratuite1" style="color: #0ab21a;">{{ e }}</label>
                        </p>

                    {% endfor %}

                    <p>
                        <label for="chambre">Nombre de chambres</label>

                        <input id="nb_chanbre" name="nb_chanbre" type="text" class="text"
                               value="{{ logement.typeChambre }}"/>
                        <label id="state" style="color: rgb(73, 133, 178);"></label>

                    </p>

                    <p>
                        <label for="Prix">prix</label>
                        <input id="Prix" name="prix" class="text" type="text" value="{{ logement.prix }}"/>
                    </p>
                    <p>
                        <label for="Prix">Description :</label>
                        <label id="desc" name="desc">{{ logement.description }}</label>
                    </p>


                </div>
            </fieldset>

        </div>
        <div class="grid_9">

            <fieldset style="background: #e6edf6;">
                <legend style="font-size: large;">Réservation</legend>
                <div class="Optional_group">

                        <p>
                            <label id="anno_name"> {{ reservation.civilite }} {{ reservation.nom }} {{ reservation.prenom }}
                                vous avez réservé l' {{ logement.typeHabitation }} à {{ logement.pays }} </label></p>
                    <p><label for="Email">Adresse : {{ reservation.adresse }}</label></p>
                        <p><label for="Email">Adresse e-mail : {{ reservation.email }}</label></p>
                    <label for="Personne">Nombre de voyageurs : {{ reservation.nbVoyageur }} </label></p>
                    <label for="Pays">Pays : {{ reservation.pays }}</label></p>
                        <label for="tele">Numéro de Tléphone : {{ reservation.numTel }}</label></p>
                        <label for="tele">Numéro de carte : {{ reservation.numcarte }}</label></p>
                    <label for="tele">Type de carte : {{ reservation.typecarte }}</label></p>


                    {% if  reservation.confirmation %}


                        <label for="tele">Merci de noter que vous avez déja effectué votre confirmation </label></p>

                            {% else %}
                                <form action="{{ path('acme_user_confirmation',{'id': reservation.idRes}) }}"
                                      method="post">
                                    <input type="submit" class="submit" id="submit" name="_submit"
                                           value="Confirmer Votre réservation"/>
                                </form>
                            {% endif %}


                    <div class="grid_4">


                    </div>
                </div>

            </fieldset>

        </div>
    </div>
    <div class="clear"></div>
    <div class="grid_16">
        <div class="grid_9" id="Modify">
        </div>
        <div class="grid_6" id="Annuler">
        </div>
    </div>
    <div class="clear"></div>


</div>

</body>
</html>