<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


    <script type="text/javascript" src="{{ asset('bundles/js/jquery-1.12.4.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/dataTables.jqueryui.min.js') }}"></script>
    <style type="text/css">
        @import "{{ asset('bundles/css/jquery-ui.css') }}";
        @import "{{ asset('bundles/css/dataTables.jqueryui.min.css') }}";
    </style>
    <style type="text/css">


        .headern {
            background-color: #222;
            height: 60px;

        }

        ul.topnav {

            list-style-type: none;
            margin: 8px;
            padding: 0;
            overflow: hidden;
            background-color: #222;
            float: right;
        }

        ul.topnav li {
            display: inline-block;
            list-style-type: none;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
        }

        ul.topnav li a {
            color: #f2f2f2;
            display: block;

            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;

        }

        ul.topnav > li > a > .caret {
            border-top: 4px solid #aaa;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            content: "";
            display: inline-block;
            height: 0;
            width: 0;
            vertical-align: middle;

            -webkit-transition: color 0.1s linear;
            -moz-transition: color 0.1s linear;
            -o-transition: color 0.1s linear;
            transition: color 0.1s linear;
        }

        ul.topnav > li:hover {
            background-color: rgb(40, 44, 47);
        }

        ul.topnav > li:hover > a {
            color: rgb(255, 255, 255);
        }

        ul.topnav > li:hover > a > .caret {
            border-top-color: rgb(255, 255, 255);
        }

        ul.topnav > li > div {
            background-color: rgb(40, 44, 47);
            border-top: 0;
            border-radius: 0 0 4px 4px;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
            display: none;
            margin: 0;
            opacity: 0;
            position: absolute;
            width: 165px;
            visibility: hidden;
            z-index: 100;

            -webkit-transiton: opacity 0.2s;
            -moz-transition: opacity 0.2s;
            -ms-transition: opacity 0.2s;
            -o-transition: opacity 0.2s;
            -transition: opacity 0.2s;
        }

        ul.topnav > li > div ul > li {
            display: block;
        }

        ul.topnav > li > div ul > li > a {
            color: #fff;
            display: block;
            padding: 12px 24px;
            text-decoration: none;
        }

        ul.topnav > li > div ul > li:hover > a {
            background-color: rgba(255, 255, 255, 0.1);
        }

        ul.topnav > li:hover > div {
            display: block;
            opacity: 1;
            visibility: visible;
        }


    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();

        });
    </script>
</head>
<body>

<header class="headern">
    <div><img style="width:55px; height:55px;" src="{{ asset('bundles/images/oumayma_pins.png') }}">
        <ul class="topnav" backgroun : rgba(34, 34, 34, 0.1)>
            <li><a href="{{ path('layout') }}" style="color: #e16400">Accueil</a></li>
            <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un
                    hébergeur </a></li>
            <li><a href="{{ path('fos_user_profile_show') }}" style="color: #e16400">
                    <h text-align: left>{{ app.user.username }} </h>
                </a></li>
            <li><a href="{{ path('hostguest_management') }}" style="color: #e16400">Réservation <span
                            class="caret"></span></a>
                <div>
                    <ul>
                        {% if  app.user.username =="admin" %}
                            <li><a href="{{ path('hostguest_purge') }}" style="color: #e16400">Purge</a></li>
                            <li><a href="{{ path('hostguest_reservation_list') }}" style="color: #e16400">Lister les
                                    réservation</a></li>
                            <li><a href="{{ path('hostguest_management') }}" style="color: #e16400">Management
                                    réservation</a></li>
                        {% else %}
                            <li><a href="{{ path('hostguest_management') }}" style="color: #e16400">Management
                                    réservation</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                    <h text-align: left>Se deconnecter</h>
                </a></li>
        </ul>
    </div>
</header>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>

    <tr>
        <th>Id</th>
        <th>Civilité</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Pays</th>
        <th>Téléphone</th>

    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Id</th>
        <th>Civilité</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Pays</th>
        <th>Téléphone</th>

    </tr>
    </tfoot>
    <tbody>
    {% for ann in annonce %}
        <tr>
            <td>{{ ann.idRes }}</td>
            <td>{{ ann.civilite }}</td>
            <td>{{ ann.nom }}</td>
            <td>{{ ann.prenom }}</td>
            <td>{{ ann.email }}</td>
            <td>{{ ann.pays }}</td>
            <td>{{ ann.numTel }}</td>

        </tr>
    {% endfor %}
    </tbody>

</table>
</body>
</html>