<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/960.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/reset.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/text.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/green.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/css/alertify.core.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/jquery.multiselect.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/jquery.multiselect.filter.css') }}"/>
    <link type="text/css" href="{{ asset('bundles/css/smoothness/ui.css" rel="stylesheet') }}"/>


    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/jquery-ui.css') }}"/>

    <script type="text/javascript" src="{{ asset('bundles/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery.multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery.multiselect.filter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/alertify.min.js') }}"></script>
    <SCRIPT type="text/javascript" src="{{ asset('bundles/js/jquery.dragndrop.min.js') }}"></SCRIPT>

    <style type="text/css">

        .submit {
            width: 200px;
            height: 35px;
            background: rgba(204, 204, 204, 0.22);
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;

        }
        .headern {
            background-color: #222;
            height: 60px;

        }

        fieldset {
            border: solid 1px green;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            padding: 5px;
        }

        legend {

        }

        .Mandatory_group {
            margin: 0 auto;

        }

        .Mandatory_group input[type=text] {
            width: 70%;
            height: 50%;
            border: 1px solid #222;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
            border-radius: 0.3em;

        }

        .Optional_group input[type=text] {
            width: 70%;
            height: 50%;
            border: 1px solid #222;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
            border-radius: 0.3em;

        }

        .Optional_group input[type=password] {
            width: 70%;
            height: 50%;
            border: 1px solid #222;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
            border-radius: 0.3em;

        }

        .Optional_group input[type=number] {
            width: 70%;
            height: 50%;
            border: 1px solid #222;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
            border-radius: 0.3em;

        }

        .Optional_group input[type=date] {
            width: 70%;
            height: 50%;
            border: 1px solid #222;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
            border-radius: 0.3em;

        }

        .Optional_group input[type=email] {
            width: 70%;
            height: 50%;
            border: 1px solid #222;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
            border-radius: 0.3em;

        }

        .submit {
            width: 200px;
            height: 35px;

        }

        .button_ok {
            margin: 0px;
            padding: 0px !important;
            border: 0px;
            background: transparent url({{ asset ('bundles/images/but_round_span_blue.gif') }}) no-repeat scroll top right;
            color: #344704;
            display: block;
            float: left;
            height: 30px;
            margin-right: 6px;

            padding-right: 15px !important;
            text-decoration: none;
            overflow: hidden;
            font-size: 12px;

            cursor: pointer;
            font-weight: bold;
        }

        .button_ok span {
            background: url({{ asset ('bundles/images/but_round_ok_blue.gif') }}) no-repeat left top;
            display: block;
            line-height: 30px;
            padding: 0px 0px 0px 35px;

            float: left;
        }

        .button_ok:hover {
            background-position: right bottom;
            text-decoration: none !important
        }

        .button_ok:hover span {
            background-position: left bottom;
            color: #344704;
        }

        .button_final {
            margin: 0px;
            padding: 0px !important;
            border: 0px;
            background: transparent url({{ asset ('bundles/images/but_round_span_blue.gif') }}) no-repeat scroll top right;
            color: #344704;
            display: block;
            float: left;
            height: 30px;
            margin-right: 6px;

            padding-right: 15px !important;
            text-decoration: none;
            overflow: hidden;
            font-size: 12px;

            cursor: pointer;
            font-weight: bold;
        }

        .button_final span {
            background: url({{ asset ('bundles/images/but_round_ok_blue.gif') }}) no-repeat left top;
            display: block;
            line-height: 30px;
            padding: 0px 0px 0px 35px;

            float: left;
        }

        .button_final:hover {
            background-position: right bottom;
            text-decoration: none !important
        }

        .button_final:hover span {
            background-position: left bottom;
            color: #344704;
        }

        .circle {
            background-color: rgba(0, 0, 0, 0);
            border: 5px solid rgba(0, 183, 229, 0.9);
            opacity: .9;
            border-right: 5px solid rgba(0, 0, 0, 0);
            border-left: 5px solid rgba(0, 0, 0, 0);
            border-radius: 50px;
            box-shadow: 0 0 35px #2187e7;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            -moz-animation: spinPulse 1s infinite ease-in-out;
            -webkit-animation: spinPulse 1s infinite linear;
        }

        .circle1 {
            background-color: rgba(0, 0, 0, 0);
            border: 5px solid rgba(0, 183, 229, 0.9);
            opacity: .9;
            border-left: 5px solid rgba(0, 0, 0, 0);
            border-right: 5px solid rgba(0, 0, 0, 0);
            border-radius: 50px;
            box-shadow: 0 0 15px #2187e7;
            width: 30px;
            height: 30px;
            margin: 0 auto;
            position: relative;
            top: -50px;
            -moz-animation: spinoffPulse 1s infinite linear;
            -webkit-animation: spinoffPulse 1s infinite linear;
        }

        @-moz-keyframes spinPulse {
            0% {
                -moz-transform: rotate(160deg);
                opacity: 0;
                box-shadow: 0 0 1px #2187e7;
            }
            50% {
                -moz-transform: rotate(145deg);
                opacity: 1;
            }
            100% {
                -moz-transform: rotate(-320deg);
                opacity: 0;
            }
        }

        @-moz-keyframes spinoffPulse {
            0% {
                -moz-transform: rotate(0deg);
            }
            100% {
                -moz-transform: rotate(360deg);
            }
        }

        @-webkit-keyframes spinPulse {
            0% {
                -webkit-transform: rotate(160deg);
                opacity: 0;
                box-shadow: 0 0 1px #2187e7;
            }
            50% {
                -webkit-transform: rotate(145deg);
                opacity: 1;
            }
            100% {
                -webkit-transform: rotate(-320deg);
                opacity: 0;
            }
        }

        @-webkit-keyframes spinoffPulse {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        .stop {
            -webkit-animation-play-state: paused;
            -moz-animation-play-state: paused;
        }

        .alertify-log-custom {
            background: blue;
        }

        strong {
            font-weight: bold;
            color: #003580;
        }

        #multiselect {

            width: 40%;
            height: 50%;
        }

        .zoom {
            height: 400px;
            margin: auto;
        }

        .zoom p {
            text-align: center;
        }

        .zoom img {
            width: 300px;
            height: 225px;
        }

        .zoom img:hover {
            width: 400px;
            height: 300px;
        }

        body {
            background: url({{ asset('bundles/images/2.jpg')}});
        }

        ul.topnav {

            list-style-type: none;
            margin: 8px;
            padding: 0;
            overflow: hidden;
            background-color: #222;
            float: right;
        }

        ul.topnav li {
            display: inline-block;
            list-style-type: none;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
        }

        ul.topnav li a {
            color: #f2f2f2;
            display: block;

            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;

        }

        ul.topnav > li > a > .caret {
            border-top: 4px solid #aaa;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            content: "";
            display: inline-block;
            height: 0;
            width: 0;
            vertical-align: middle;

            -webkit-transition: color 0.1s linear;
            -moz-transition: color 0.1s linear;
            -o-transition: color 0.1s linear;
            transition: color 0.1s linear;
        }

        ul.topnav > li:hover {
            background-color: rgb(40, 44, 47);
        }

        ul.topnav > li:hover > a {
            color: rgb(255, 255, 255);
        }

        ul.topnav > li:hover > a > .caret {
            border-top-color: rgb(255, 255, 255);
        }

        ul.topnav > li > div {
            background-color: rgb(40, 44, 47);
            border-top: 0;
            border-radius: 0 0 4px 4px;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
            display: none;
            margin: 0;
            opacity: 0;
            position: absolute;
            width: 165px;
            visibility: hidden;
            z-index: 100;

            -webkit-transiton: opacity 0.2s;
            -moz-transition: opacity 0.2s;
            -ms-transition: opacity 0.2s;
            -o-transition: opacity 0.2s;
            -transition: opacity 0.2s;
        }

        ul.topnav > li > div ul > li {
            display: block;
        }

        ul.topnav > li > div ul > li > a {
            color: #fff;
            display: block;
            padding: 12px 24px;
            text-decoration: none;
        }

        ul.topnav > li > div ul > li:hover > a {
            background-color: rgba(255, 255, 255, 0.1);
        }

        ul.topnav > li:hover > div {
            display: block;
            opacity: 1;
            visibility: visible;
        }

        fieldset ul li {
            color: #e16400;
            font-style: italic;

        }

        body {

            background-image: url({{ asset('template/images/13.png') }});
            background-size: 1600px 1000px;

        }

    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.multiselect').multiselect({
                multiple: false,

                //selectedList: 1
            });
            $('.multiselectcon').multiselect({
                multiple: false,

                // selectedList: 1
            }).multiselectfilter();
            $('.multiselectcon1').multiselect({
                multiple: false,
                //selectedList: 1
            })

        });
    </script>
</head>
<body>
<header class="headern">
    <div><img style="width:55px; height:55px;" src="{{ asset('bundles/images/oumayma_pins.png') }}">
        <ul class="topnav" backgroun : rgba(34, 34, 34, 0.1)>
            <li><a href="{{ path('layout') }}" style="color: #e16400">Accueil</a></li>
            <li><a href="{{ path('logement_new',{ id: app.user.id }) }}" style="color: #e16400">Devenir un
                    hébergeur </a></li>
            <li><a href="{{ path('fos_user_profile_show') }}" style="color: #e16400">
                    <h text-align: left>{{ app.user.username }} </h>
                </a></li>
            <li><a href="{{ path('hostguest_management') }}" style="color: #e16400">Réservation <span
                            class="caret"></span></a>
                <div>
                    <ul>
                        {% if  app.user.username =="admin" %}
                            <li><a href="{{ path('hostguest_purge') }}" style="color: #e16400">Purge</a></li>
                            <li><a href="{{ path('hostguest_reservation_list') }}" style="color: #e16400">Lister les
                                    réservation</a></li>
                            <li><a href="{{ path('hostguest_management') }}" style="color: #e16400">Management
                                    réservation</a></li>
                        {% else %}
                            <li><a href="{{ path('hostguest_management') }}" style="color: #e16400">Management
                                    réservation</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li><a href="{{ path('fos_user_security_logout') }}" style="color: #e16400">
                    <h text-align: left>Se deconnecter</h>
                </a></li>
        </ul>
    </div>
</header>
<div class="container_16" id="wrapper">


    <!--RIGHT TEXT/CALENDAR END-->


    <div class="grid_16">

        <div class="grid_14">

            <fieldset style="background: rgba(230, 237, 246, 0.35);">

                <legend style="font-size: large;color: #e16400">Modifiez votre Réservation</legend>
                <div class="Optional_group">

                    {{ form_start(form, {'method': 'post', 'action': path('acme_reser_mod',{'id': model.idRes}), 'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="grid_6">


                        <p>
                            {{ form_label(form.civilite,'Civilité') }}
                            {{ form_widget(form.civilite,{'attr':{'class': 'multiselect'}}) }}


                        </p>
                        <p>

                            {{ form_label(form.prenom,'Prénom') }}
                            {{ form_widget(form.prenom,{'attr':{'class': 'text','value': model.prenom}}) }}
                            {{ form_errors(form.prenom) }}
                        </p>

                        <p>
                            {{ form_label(form.nom,'Nom') }}
                            {{ form_widget(form.nom,{'attr':{'class': 'text','value': model.nom }}) }}
                            {{ form_errors(form.nom) }}
                        </p>

                        <p>
                            {{ form_label(form.Adresse,'Adresse  :') }}
                            {{ form_widget(form.Adresse,{'attr':{'class': 'text','value': model.adresse }}) }}
                            {{ form_errors(form.Adresse) }}

                        </p>
                        <p>
                            {{ form_label(form.email,'Adresse e-mail :') }}
                            {{ form_widget(form.email,{'attr':{'class': 'text','value': model.email }}) }}
                            {{ form_errors(form.email) }}

                        </p>


                        <p>

                            {{ form_label(form.nb_voyageur,'Nombre de voyageurs :') }}
                            {{ form_widget(form.nb_voyageur,{'attr':{'class': 'text','value': model.nbvoyageur }}) }}
                            {{ form_errors(form.nb_voyageur) }}

                        </p>


                        <input type="submit" class="submit" id="submit" name="_submit"
                               value="Modifiez votre réservation"/>
                    </div>
                    <div class="grid_6">


                        <p>
                            {{ form_label(form.pays,'Votre Pays') }}
                            {{ form_widget(form.pays,{'attr':{'class': 'multiselectcon','value': model.pays }}) }}


                        </p>


                        <p>
                            {{ form_label(form.num_tel,'Numéro téléphone') }}
                            {{ form_widget(form.num_tel,{'attr':{'class': 'text','value': model.numtel }}) }}
                            {{ form_errors(form.num_tel) }}

                        </p>

                        <p>
                            {{ form_label(form.message,'Laissez un message') }}
                            {{ form_widget(form.message,{'attr':{'class': 'text','value': model.message }}) }}
                            {{ form_errors(form.message) }}
                        </p>
                        <p>
                            {{ form_label(form.motdepasse,'Mot de passe ') }}
                            {{ form_widget(form.motdepasse,{'attr':{'class': 'text','value': model.motdepasse }}) }}
                            {{ form_errors(form.motdepasse) }}


                        </p>
                        <p>
                            {{ form_label(form.typecarte,'Type de carte de crédit/débit') }}
                            {{ form_widget(form.typecarte,{'attr':{'class': 'multiselectcon1'}}) }}


                        </p>
                        <p>
                            {{ form_label(form.numcarte,'Introduire le numéro de votre Carte') }}
                            {{ form_widget(form.numcarte,{'attr':{'class': 'text','value': model.numcarte }}) }}
                            {{ form_errors(form.numcarte) }}
                        </p>
                        <p>
                            {{ form_label(form.dateexpirationcarte,'date d expiration') }}
                            {{ form_widget(form.dateexpirationcarte,{'attr':{'class': 'text','value': model.dateexpirationcarte|date("Y-m-d") }}) }}
                            {{ form_errors(form.dateexpirationcarte) }}

                        </p>


                    </div>


                    {{ form_end(form) }}

                </div>


            </fieldset>

        </div>
    </div>
    <div class="clear"></div>
    <div class="grid_16">
        <div class="grid_9" id="Modify">
        </div>
        <div class="grid_6" id="Annuler">
        </div>
    </div>
    <div class="clear"></div>


</div>
<!-- WRAPPER END -->
<!-- FOOTER START -->
<div class="container_16" id="footer">
    Maryem Ben Ammar <a href="../index.htm">Esprit</a></div>

</body>
</html>