<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">

        .title {
            text-decoration: underline;
            color: navy;
            font-size: 24pt;
            padding-left: 900px;

        }

        p.first {
            color: navy;
            font-size: 16pt;
            font-family: Helvetica;

        }

        p.second {
            font-size: 16pt;
            font-style: italic;
            text-align: justify;
            color: black;
        }

        p.first span {

            font-size: 16pt;
            font-style: italic;

            color: black;
        }
    </style>
</head>

<body>
<img style="width:45px; height:45px; " src="{{ asset('bundles/images/oumayma_pins.png') }}">

<h1 class="title" style="text-decoration: underline;padding-left:900px; ">Bon de Réservation</h1>
<p class="first">Nom : <span>{{ model.civilite }} {{ model.nom }}</span></p>
<p class="first">Prénom : <span>{{ model.prenom }}</span></p>
<p class="first">Téléphone : <span>{{ model.numtel }}</span></p>
<p class="first">Mail :<span>{{ model.email }}</span></p>
<p class="first">Pays :<span>{{ model.pays }}</span></p>

<p class="second "> Vous avez réservé un(e){{ model.idLog.typechambre }} de type {{ model.idLog.typeHabitation }} (
    nombre de lits:{{ model.idLog.nblit }},type: {{ model.idLog.typelit }},{{ model.idLog.typesb }} )
    à {{ model.idLog.adressgmap }}
    pour la periode du {{ model.idLog.date|date("m/d/Y") }} au {{ model.idLog.dateFin|date("m/d/Y") }} au tarif
    de {{ model.idLog.prix }} DT par nuit. </p>

<p class="first">Votre réservation comprend les equipements suivants:</p>
<p class="second ">
    {% for e in model.idLog.equipement %}

        {{ e }},


    {% endfor %}
</p>

<p class="first"> De plus elle contient les espaces suivants:</p>
<p class="second ">
    {% for e in model.idLog.espaceUtilise %}

        {{ e }}


    {% endfor %}
</p>
<p class="first">Bon Séjour ...</p>


</body>
</html>