<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/960.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/reset.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/text.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/green.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/css/alertify.core.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/jquery.multiselect.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/jquery.multiselect.filter.css') }}"/>
    <link type="text/css" href="{{ asset('bundles/css/smoothness/ui.css" rel="stylesheet') }}"/>


    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/jquery-ui.css') }}"/>

    <script type="text/javascript" src="{{ asset('bundles/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery.multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery.multiselect.filter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/alertify.min.js') }}"></script>
    <SCRIPT type="text/javascript" src="{{ asset('bundles/js/jquery.dragndrop.min.js') }}"></SCRIPT>

    <style type="text/css">


        .headern {
            background-color: #222;
            height: 50px;

        }

        fieldset {
            border: solid 1px green;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            padding: 5px;
        }

        legend {

        }

        .Mandatory_group {
            margin: 0 auto;

        }

        .Mandatory_group input[type=text] {
            width: 70%;
            height: 50%;
            border: 1px solid #222;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
            border-radius: 0.3em;

        }

        .Optional_group input[type=text] {
            width: 70%;
            height: 50%;
            border: 1px solid #222;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
            border-radius: 0.3em;

        }

        .button_ok {
            margin: 0px;
            padding: 0px !important;
            border: 0px;
            background: transparent url({{ asset ('bundles/images/but_round_span_blue.gif') }}) no-repeat scroll top right;
            color: #344704;
            display: block;
            float: left;
            height: 30px;
            margin-right: 6px;

            padding-right: 15px !important;
            text-decoration: none;
            overflow: hidden;
            font-size: 12px;

            cursor: pointer;
            font-weight: bold;
        }

        .button_ok span {
            background: url({{ asset ('bundles/images/but_round_ok_blue.gif') }}) no-repeat left top;
            display: block;
            line-height: 30px;
            padding: 0px 0px 0px 35px;

            float: left;
        }

        .button_ok:hover {
            background-position: right bottom;
            text-decoration: none !important
        }

        .button_ok:hover span {
            background-position: left bottom;
            color: #344704;
        }

        .button_final {
            margin: 0px;
            padding: 0px !important;
            border: 0px;
            background: transparent url({{ asset ('bundles/images/but_round_span_blue.gif') }}) no-repeat scroll top right;
            color: #344704;
            display: block;
            float: left;
            height: 30px;
            margin-right: 6px;

            padding-right: 15px !important;
            text-decoration: none;
            overflow: hidden;
            font-size: 12px;

            cursor: pointer;
            font-weight: bold;
        }

        .button_final span {
            background: url({{ asset ('bundles/images/but_round_ok_blue.gif') }}) no-repeat left top;
            display: block;
            line-height: 30px;
            padding: 0px 0px 0px 35px;

            float: left;
        }

        .button_final:hover {
            background-position: right bottom;
            text-decoration: none !important
        }

        .button_final:hover span {
            background-position: left bottom;
            color: #344704;
        }

        .circle {
            background-color: rgba(0, 0, 0, 0);
            border: 5px solid rgba(0, 183, 229, 0.9);
            opacity: .9;
            border-right: 5px solid rgba(0, 0, 0, 0);
            border-left: 5px solid rgba(0, 0, 0, 0);
            border-radius: 50px;
            box-shadow: 0 0 35px #2187e7;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            -moz-animation: spinPulse 1s infinite ease-in-out;
            -webkit-animation: spinPulse 1s infinite linear;
        }

        .circle1 {
            background-color: rgba(0, 0, 0, 0);
            border: 5px solid rgba(0, 183, 229, 0.9);
            opacity: .9;
            border-left: 5px solid rgba(0, 0, 0, 0);
            border-right: 5px solid rgba(0, 0, 0, 0);
            border-radius: 50px;
            box-shadow: 0 0 15px #2187e7;
            width: 30px;
            height: 30px;
            margin: 0 auto;
            position: relative;
            top: -50px;
            -moz-animation: spinoffPulse 1s infinite linear;
            -webkit-animation: spinoffPulse 1s infinite linear;
        }

        @-moz-keyframes spinPulse {
            0% {
                -moz-transform: rotate(160deg);
                opacity: 0;
                box-shadow: 0 0 1px #2187e7;
            }
            50% {
                -moz-transform: rotate(145deg);
                opacity: 1;
            }
            100% {
                -moz-transform: rotate(-320deg);
                opacity: 0;
            }
        }

        @-moz-keyframes spinoffPulse {
            0% {
                -moz-transform: rotate(0deg);
            }
            100% {
                -moz-transform: rotate(360deg);
            }
        }

        @-webkit-keyframes spinPulse {
            0% {
                -webkit-transform: rotate(160deg);
                opacity: 0;
                box-shadow: 0 0 1px #2187e7;
            }
            50% {
                -webkit-transform: rotate(145deg);
                opacity: 1;
            }
            100% {
                -webkit-transform: rotate(-320deg);
                opacity: 0;
            }
        }

        @-webkit-keyframes spinoffPulse {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        .stop {
            -webkit-animation-play-state: paused;
            -moz-animation-play-state: paused;
        }

        .alertify-log-custom {
            background: blue;
        }

        strong {
            font-weight: bold;
            color: #003580;
        }

        #multiselect {

            width: 40%;
            height: 50%;
        }

        .zoom {
            height: 400px;
            margin: auto;
        }

        .zoom p {
            text-align: center;
        }

        .zoom img {
            width: 300px;
            height: 225px;
        }

        .zoom img:hover {
            width: 400px;
            height: 300px;
        }

        body {
            background: url({{ asset('bundles/images/2.jpg')}});
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.multiselect1').multiselect({
                multiple: false,
                noneSelectedText: "E-mail",
                selectedList: 1
            });
            $('.multiselect2').multiselect({
                multiple: false,
                noneSelectedText: "--Choisir",
                selectedList: 1
            });

        });
    </script>
</head>
<body>
<header class="headern">
    <div><img style="width:45px; height:45px;" src="{{ asset('bundles/images/oumayma_pins.png') }}"></div>
</header>
<div class="container_16" id="wrapper">
    <div class="grid_16">
        <!-- TABS START -->
        <div id="tabs">
            <div class="container">
                <ul>


                    <li><a id="lien1"><span>1. Choisissez votre chambre</span></a></li>
                    <li><a id="lien2"><span>2. Saisissez vos coordonnées</span></a></li>
                    <li><a id="lien3" class="current"><span> 3. Confirmez votre réservation</span></a></li>


                </ul>
            </div>
        </div>
        <!-- TABS END -->
    </div>

    <div class="grid_16" id="content">
        <!--  TITLE START  -->

        <!--RIGHT TEXT/CALENDAR-->
        <div class="grid_15" id="eventbox">Pas besoin de compte. La réservation ne prend que 2 minutes !</a>

        </div>
    </div>
    <!--RIGHT TEXT/CALENDAR END-->
    <div class="clear">
    </div>
    <div class="grid_16">
        <div class="grid_6">
            <marquee style="width:300px; height:170px;" scrollamount="5" direction="up" onmouseover="this.stop()"
                     onmouseout="this.start()">&nbsp;<img style="width:300px; height:170px;" src="images/1.jpg"/>
                <br/><img style="width:300px; height:170px;" src="images/2.jpg"/><br/><br/><img
                        style="width:300px; height:170px;" src="images/3.jpg"/>
            </marquee>
            </p>
        </div>

        <div class="grid_9">
            <h1 style="color :#003580;">
                Apartement/Flat à Paris
            </h1>


            <h2 style="color :#003580;"><img src="{{ asset('bundles/images/1.png') }}"> 8e arr.,Paris,France-Dans le
                centre-ville</h2>
            <h2 style="color :#f07c00;background:#fff2e6;"> L'un de nos meilleurs choix pour Paris</h2>

        </div>
    </div>

    <div class="clear">
    </div>
    <div class="clear">
    </div>
    <div class="grid_15" style="padding-left: 10px;right:10px">
        <fieldset style="background: #ffc457">
            <div class="grid_5">
                <Strong>Arrivée</Strong>
                <br>
                <span style="color :#003580;">Dimanche</span>
                <Strong style="color :#003580;">5 février</Strong>
                <span style="color :#003580;"> 2017 à partir de 14h:00
            </span>
            </div>
            <div class="grid_5">
                <Strong>Départ</Strong>
                <br>
                <span style="color :#003580;">Lundi</span>
                <Strong style="color :#003580;">6 février</Strong>
                <span style="color :#003580;"> 2017 à partir de 12h:00
            </span>
            </div>
            <div class="grid_4">
                <Strong>Durée totale du séjour</Strong>
                <br>
                <span style="color :#003580;">1 jour</span>

            </div>
        </fieldset>
    </div>
    <div class="clear"></div>


    <div class="grid_16">

        <div class="grid_6">
            <fieldset>
                <legend style="font-size: large;">Votre réservation comprend</legend>
                <div class="Mandatory_group">
                    <p>
                        <label id="anno_name">Apartement/Flat à Rome</label>

                        <label id="staterule" style="color: rgb(73, 133, 178);"></label>
                    </p>

                    <p>
                        <label id="gratuite1" style="color: #0ab21a;">Pétit-déjeuner</label>
                    </p>
                    <p>
                        <label id="gratuite2" style="color: #0ab21a;">Wi-Fi Gratuit</label>
                    </p>

                    <p>
                        <label for="chambre">Nombre de chambres</label>

                        <input id="nb_chanbre" name="nb_chanbre" type="text" class="text" value="S+3"/>
                        <label id="state" style="color: rgb(73, 133, 178);"></label>

                    </p>

                    <p>
                        <label for="Prix">prix</label>
                        <input id="Prix" name="prix" class="text" type="text" value="TND 250"/>
                    </p>


                </div>
            </fieldset>

        </div>
        <div class="grid_9">

            <fieldset style="background: #e6edf6;">
                <legend style="font-size: large;">Réservation</legend>
                <div class="Optional_group">
                    <div class="grid_5" id="maryem">
                        <p><label id="anno_name"> Mme Maryem ben Ammar vous avesz réservé l Apartement/Flat à
                                Rome</label></p>
                        <p><label for="Email">Adresse e-mail : maryem.benammar@gmail.com</label></p>
                        <label for="Personne">Nombre de Personnes : 3</label></p>
                        <label for="Pays">Pays : Tunisia</label></p>
                        <label for="tele">Numéro de Tléphone : (+216)98147256</label></p>
                        <label for="tele">Numéro de carte : 5124 7827 8568</label></p>
                        <div class="grid_3">

                            <input type="submit" id="_submit" name="_submit" value="Confirmer Votre réservation"/>

                        </div>
                        <div class="grid_3">

                            <form action="{{ path("sandbox_pdfexample") }}" method="post">
                                <input type="submit" id="_submit" name="_submit" value="PDF"/>
                            </form>
                        </div>
                    </div>
                    <div class="grid_4">


                    </div>
                </div>

            </fieldset>

        </div>
    </div>
    <div class="clear"></div>
    <div class="grid_16">
        <div class="grid_9" id="Modify">
        </div>
        <div class="grid_6" id="Annuler">
        </div>
    </div>
    <div class="clear"></div>


</div>
<!-- WRAPPER END -->
<!-- FOOTER START -->
<div class="container_16" id="footer">
    Maryem Ben Ammar <a href="../index.htm">Esprit</a></div>
</body>
</html>