{{ form_start(form, {'method': 'post', 'action': path('hostguest_reservation_2'), 'attr': {'class': 'hostguest_reservation_2'}}) }}

<div class="grid_5" id="maryem">
    <p>
        <label for="cause">Vous voyagez pour le travail :</label> <label><input id="enable" type="radio" name="radio"
                                                                                value="enable" checked/> Oui</label>
        <label><input id="disable" type="radio" name="radio" value="disable"/> Non</label>

    </p>
    <p>
        {{ form_label(form.civilite,'Civilité') }}
        {{ form_widget(form.civilite,{'attr':{'class': 'text'}}) }}


        </select>
    </p>
    <p>

        {{ form_label(form.prenom,'Prénom') }}
        {{ form_widget(form.prenom,{'attr':{'class': 'text'}}) }}

    </p>

    <p>
        {{ form_label(form.nom,'Nom') }}
        {{ form_widget(form.nom,{'attr':{'class': 'text'}}) }}

    </p>


    <p>
        {{ form_label(form.email,'Adresse e-mail :') }}
        {{ form_widget(form.email,{'attr':{'class': 'text'}}) }}

    </p>
    <p>

        <label for="confirmed_email">Confirmer l'adresse e-mail :</label>
        <input id="confirmed_email" name="confirmed_email" class="text" type="text" value=""/>
    </p>


    <p>

        {{ form_label(form.nb_voyageur,'Nombre de voyageurs :') }}
        {{ form_widget(form.nb_voyageur,{'attr':{'class': 'text'}}) }}

    </p>


    <p>
        {{ form_label(form.pays,'Votre Pays') }}
        {{ form_widget(form.pays,{'attr':{'class': 'text'}}) }}


    </p>


    <p>
        {{ form_label(form.motdepasse,'Mot de passe') }}
        {{ form_widget(form.motdepasse,{'attr':{'class': 'text'}}) }}


    </p>


    <p>
        {{ form_label(form.num_tel,'Numéro téléphone') }}
        {{ form_widget(form.num_tel,{'attr':{'class': 'text'}}) }}

    </p>

    <p>
        {{ form_label(form.message,'Laissez un message') }}
        {{ form_widget(form.message,{'attr':{'class': 'text'}}) }}

    </p>
    <p>
        {{ form_label(form.numcarte,'Introduire le numéro de votre Carte') }}
        {{ form_widget(form.numcarte,{'attr':{'class': 'text'}}) }}

    </p>
    <p>
        {{ form_label(form.dateexpirationcarte,'date d expiration') }}
        {{ form_widget(form.dateexpirationcarte,{'attr':{'class': 'text'}}) }}

    </p>


    <div class="grid_3">

        <input type="submit" id="_submit" name="_submit" value="Je reserve"/>
    </div>

</div>

{{ form_end(form) }}